
{% extends 'base_new_admin.html' %}
{% load static %}

{% block main %}
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">My Profile</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Profile</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class=" col-xl-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-top p-4 border-bottom-0 main-profile-cover" style="background-color: #111c43;">
                            <div>
                                <span class="avatar avatar-xxl avatar-rounded online me-3">
                                   {% if user.profile_pic %} 
                                   <img src="{{ user.profile_pic.url }}" alt="Profile Picture">  
                                   {% else %}
                                   <img src="/static/front/imgs/logo/logo-addis.png" >
                                   {% endif %}
                                </span>
                            </div>
                            <div class="flex-fill main-profile-info">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="fw-semibold mb-1 text-fixed-white">{{ user.first_name }} {{ user.last_name}}</h6>
                                </div>
                                <p class="mb-1 text-muted text-fixed-white op-7"> Role: {{ user.role }}</p>
                                <div class="d-flex mb-0">
                                    <div class="me-4">
                                        <p class="mb-0 fs-11 op-5 text-fixed-white">{{user.email}}</p>
                                        <!-- <p class="mb-0 fs-11 op-5 text-fixed-white">Assigned Tasks</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-xxl-12 col-xl-12">
                <div class="row">
                    
                    <div class="col-xl-4 col-xl-4">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Account Manager
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="nav flex-column nav-pills me-3 tab-style-7" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="nav-link text-start active" id="main-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#main-profile" type="button" role="tab"
                                        aria-controls="main-profile" aria-selected="true"> User Info
                                    </button>
                                    <button class="nav-link text-start" id="edit-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#edit-profile" type="button" role="tab"
                                        aria-controls="edit-profile" aria-selected="false">Edit Profile
                                    </button>
                                    <button class="nav-link text-start" id="change-password-tab" data-bs-toggle="pill"
                                        data-bs-target="#change-password" type="button" role="tab"
                                        aria-controls="change-password" aria-selected="false">Change Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-8 col-xl-8">
                        
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane show p-0 active" id="main-profile" role="tabpanel" tabindex="0">
                                <div class="card custom-card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            Personal Info
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="d-flex flex-wrap align-items-center">
                                                    <div class="me-2 fw-semibold">
                                                        Name :
                                                    </div>
                                                    <span class="fs-12 text-muted">{{user.first_name}} {{user.last_name}}</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="d-flex flex-wrap align-items-center">
                                                    <div class="me-2 fw-semibold">
                                                        Email :
                                                    </div>
                                                    <span class="fs-12 text-muted">{{user.email}}</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="d-flex flex-wrap align-items-center">
                                                    <div class="me-2 fw-semibold">
                                                        Phone :
                                                    </div>
                                                    <span class="fs-12 text-muted">{{user.phonenumber}}</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="d-flex flex-wrap align-items-center">
                                                    <div class="me-2 fw-semibold">
                                                        Role:
                                                    </div>
                                                    <span class="fs-12 text-muted">{{user.role}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane show p-0 " id="edit-profile" role="tabpanel" tabindex="0">
                                <div class="card custom-card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            Edit Profile
                                        </div>
                                    </div>
                                    <form class="form" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <div class="row gy-3">
                                                <div class="col-xl-6">
                                                    <label for="contact-address-firstname" class="form-label">First Name :</label>
                                                    {{form.first_name}}
                                                    <!-- <input type="text" value="{{user.first_name}}" class="form-control form-control-light" id="contact-address-firstname" placeholder="Enter Name"> -->
                                                </div>
                                                <div class="col-xl-6">
                                                    <label for="contact-address-lastname" class="form-label">Last Name :</label>
                                                    {{form.last_name}}
                                                </div>
                                                <div class="col-xl-6">
                                                    <label for="contact-address-email" class="form-label">Email :</label>
                                                    {{form.email}}
                                                </div>
                                                <div class="col-xl-6">
                                                    <label for="contact-address-phone" class="form-label">Phone No :</label>
                                                    {{form.phonenumber}}
                                                </div>
                                                <div class="col-xl-6">
                                                    <label for="contact-address-phone" class="form-label">Profile :</label>
                                                    {{form.profile_pic}}
                                                </div>
                                                
                                                <div class="col-xl-6">
                                                    <label for="contact-address-role" class="form-label">Role :</label>
                                                    {{form.role}}   
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="float-end mb-2">
                                                <button type="submit" class="btn btn-primary-light btn-wave">Save Changes</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane show p-0 " id="change-password" role="tabpanel" tabindex="0">
                                <div class="card custom-card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            Change Password
                                        </div>
                                    </div>
                                    <form class="form" action="{% url 'change_pw' id=user.id %} " method="post">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <div class="row gy-3">
                                                <div class="col-xl-9">
                                                    {{password_form.current_password}}
                                                </div>
                                                <div class="col-xl-9">
                                                    {{password_form.new_password}}
                                                </div>
                                                <div class="col-xl-9">
                                                    {{password_form.retype_new_password}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="float-end mb-2">
                                                <button type="submit" class="btn btn-primary-light btn-wave">Save Changes</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            

            <div class="col-xxl-12 col-xl-12">
                <div class="row">
                    
                    
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="card-title">
                                    Assigned Tasks
                                    <span class="badge bg-secondary-transparent">({{tasks.count}})</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    {% for task in tasks %}
                                    <li class="list-group-item">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="fw-semibold d-flex align-items-center">
                                                {{ task.task_name }}
                                            </div>
                                            <div>
                                                <button class="btn btn-sm btn-primary-light">
                                                    {{task.status}}
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="card-title">
                                    Blog Posted
                                    <span class="badge bg-primary-transparent">({{blogs.count}})</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    {% for blog in blogs %}
                                    <li class="list-group-item">
                                        <a href="javascript:void(0);">
                                            <div class="d-flex flex-wrap align-items-center">
                                                <div class="avatar avatar-lg me-3">
                                                    <img src="{{blog.images.url}}" class="img-fluid" alt="...">
                                                </div>
                                                <div class="flex-fill">
                                                  <a href="{% url 'blog_detail' blog_id=blog.id %}"> <p class="fw-semibold mb-0">{{blog.title}}</p> </a> 
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
