{% extends 'staff/admin_base.html' %}
{% load static %}
{% load custom_filters %}
{% block main %}

    <div class="container-fluid">
         <!-- Page Header -->
         {% if errors %}
            <p class="errornote">
            {% if errors|length == 1 %} Please correct the error below. {% else %}Please correct the errors below.{% endif %}
            </p>
            {{ .form.non_field_errors }}
        {% endif %}
         <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">
                {% if not is_single %}
                    {% if add %} Add New {% else %} Update {% endif %}
                {% endif %} 
                {{model_name}}
            </h1>
            <strong>N.B. Please note that all fields ending with * are mandatory and should be filled.</strong>
                            
        </div>
        <div class="col-xl-12">
            <form method="post" enctype="multipart/form-data">
                <div class="card custom-card">
                    <div class="card-body  col-md-8 col-sm-12"> 
                            
                            {% csrf_token %}
                            {% for field in form %}
                            
                                <div    class="form-group mt-2 mb-4" style="padding-left: 2.5em;">

                                    <label class="form-label">{{forloop.counter}}. {{field.label}} </label>
                                    {% if field.field.widget.input_type == 'checkbox' %}
                                        <div class="form-check form-switch" style="display: inline-flex;margin-left: 1rem;">
                                            {{field}}
                                        </div>
                                    {% else %}
                                        {{field}}
                                    {% endif %}

                                    {{field.errors}}
                                    <small class="fw-semibold mb-1 text-muted">{{field.help_text}}</small>
                                        
                                </div>
                            {% endfor %}

                    </div>
                    <div class="card-footer px-5">

                        <button type="submit" class="btn btn-secondary float-end m-2"
                            {% if not add %} onclick="return confirm('Are you sure you want to update this {{model_name}}')" {% endif %}>Save
                        </button>
                        
                        <button type="button" class="btn btn-light btn-outline float-end m-2" >Cancel</button>
                        
                    </div>
                    
                    <div class="card-footer px-5">

                        {% if child_obj and not add %}
                            <h1 class="page-title fw-semibold fs-18 mb-3 text-center"> {% if model_name == "Job" %}  Applicants {% elif model_name == "Blog" %} Comments {% endif %}</h1>

                            <table id="file-export" class="table table-bordered text-nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>#</th>

                                        {% for field in child_obj_fields %}
                                        <th>{{field|formalize }}</th>
                                        {% endfor %}

                                        {% if model_name == "Blog" %}
                                        <th>Action</th>
                                        {% endif %}
                                        
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for obj in child_obj %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        {% for field in child_obj_fields %}
                                            {% if field == 'approved'%}
                                                <td >
                                                    {% if obj.approved %} <span style="color: green;"> Approved </span>{% else %} <span style="color: red;"> Not Aproved </span> {% endif %}
                                                </td>
                                            {% elif field == 'cv'%}
                                                <td> <a href="{{obj.cv.url}}" download ><span class="text-info">Download CV</span></a> </td>
                                            {% else %}
                                                <td>{% get_field_attr obj field %}</td>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if model_name == "Blog" %}
                                        <td>
                                            <a onclick="return confirm('confirm changes in this comment?')" 
                                            href="{% url 'approve_comment' pk=obj.id %}">
                                                {% if obj.approved %}
                                                <span class="btn btn-danger"> Hide </span>
                                                {% else %}
                                                <span class="btn btn-success"> Show </span>
                                                {% endif %}
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        {% endif %}

                    </div>

                </div>
                

            </form>
        </div>
    </div>

{% endblock %}
{% block js %}

<script>
    $(".form-group>a").attr("style","color:blue; border-bottom:1px blue solid;").attr("target","_blank")
</script>
<!-- Color Picker JS -->
<script src="{% static 'dashboard/libs/@simonwep/pickr/pickr.es5.min.js' %}"></script>
<!-- Color Picker JS -->
<script src="{% static 'dashboard/js/color-picker.js' %}"></script>

{% endblock %}