{% extends 'staff/admin_base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block main %}
<div class="container-fluid">
    <!-- Start:: row-4 -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">List of {{model_name}}s</div>
                    
                </div>
                
                <div class="card-body">
                    {% if not single %}
                    <div class="col-12 ">
                        <a class="btn btn-primary float-end mb-3" href="{% url 'create_view' model_name=model_code %}">Add New </a>
                    </div>
                    {% endif %}
                    
                    <div class="table-responsive col-12 mt-3">
                       
                        <table id="file-export" class="table table-bordered text-nowrap w-100">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    {% if fields %}
                                        {% for field in fields %}
                                        <th>{{field|formalize }}</th>
                                        {% endfor %}
                                    {% else %} 
                                        <th>Title</th>
                                    {% endif %}
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if fields %}
                                <!-- If list fields are specified by the model -->
                                    {% for obj in objs %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        {% for field in fields %}
                                        <td>{% get_field_attr obj field %}</td>
                                        {% endfor %}
                                        <td>
                                            <a href="{% url 'change_view' model_name=model_code pk=obj.id %}">
                                                <i class="bx bx-edit"></i>
                                            </a>
                                            <a onclick="return confirm('Are you sure you want to delete this {{model_name}}?')" 
                                            href="{% url 'delete_view' model_name=model_code pk=obj.id %}">
                                                <i class="bx bx-trash" style="color: red;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                {% else %}
                                    {% for obj in objs %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{obj}}</td>
                                            <td>
                                                <a href="{% url 'change_view' model_name=model_code pk=obj.id %}">
                                                    <i class="bx bx-edit"></i>
                                                </a>
                                                <a href="{% url 'change_view' model_name=model_code pk=obj.id %}">
                                                    <i class="bx bx-pencil"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        
                                        {% endfor %}
                                {% endif %}
                                

                              
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-4 -->
</div>
{% endblock %}

{% block js %}
 <!-- Datatables Cdn -->
 <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
 <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
 <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
 <!--<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>-->
 <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script> 

{% endblock %}