


{% extends 'front/base.html' %}
{% load i18n %}
{% load static %}
{% block content %} 

<section class="section border-0 py-10 m-0 px-lg-5 pt-4 mt-5">
    <div class="container text-center">
        <div class="col-lg-8 offset-sm-2 px-lg-5 order-1 order-lg-2">
                                    
            <div class="row justify-content-md-center text-center">
                <div class="col-md-10 text-center">
                    <div class="featured-box featured-box-primary text-start mt-0">
                        <div class="box-content">
                            <div class="text-center">
                                {% if stg.logo %}
                                <img class="text-center" style="height:100px" src="{{stg.logo.url}}">
                                {% else %}
                                <img class="text-center" style="height:100px" src="{% static 'front/imgs/logo/logo-addis.png' %}">
                                {% endif %}
                                <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3 text-center">{% trans "Confirm Your Password" %}</h4>
                                
                            </div>
                            <form action=""  method="post" class=" text-center form-fields-rounded form-with-icons">
                                {% csrf_token %}
                               {{form}}
                                    
                                <div class="row mt-3">
                                    <div class="form-group col">
                                        <input type="submit" value="Save" name="Update Password" class="btn btn-primary btn-modern " data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>
                            
    
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>

{% endblock%}