<!-- blog_detail.html -->
{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title text-center">
                    <h1>Blog Details</h1>
                </div>
                <div class="breadcumb-area  text-center">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Blog Details</li>
                    </ol>
                </div>
                <div class="back-home">
                    <a href="index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK TO HOME</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End page title -->
<!-- Start our blog area -->
<section class="our-blog-area pt-90 pb-60">
    <div class="container">
        <div class="row">
            <!-- Start blog -->
            <div class="blog">
                <!-- Start single blog -->
                <div class="col-sm-12">
                    <div class="blog-details single-blog mb-30">
                        <div class="blog-details-title">
                            <h3>{{ blog.title }}</h3>
                        </div>
                        <div class="blog-info">
                            <div class="admin">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> By: {{ blog.author }}</a>
                            </div>
                            <div class="comment">
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 15</a>
                                <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 25</a>
                            </div>
                        </div>
                        <div class="blo-image-and-date">
                            <img src="{{ blog.images.url }}" alt="">
                        </div>
                        <div class="blog-text">
                            <p>{{ blog.content|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
                <!-- End single blog -->
            </div>
            <!-- End blog -->
        </div>
    </div>
</section>

<!-- Comment section -->
<section class="our-blog-area pt-90 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="blog-coment-box">
                    <div class="single-blog-coment">
                        <h2>{{ comments.count }} Comments</h2>
                        <ul class="comments-list">
                            {% for comment in comments %}
                            <li class="comment">
                                <div class="comment-content">
                                    <div class="comment-author">
                                        <img src="{{ comment.author_image.url }}" alt="" class="comment-avatar">
                                        <span class="comment-author-name">{{ comment.author }}</span>
                                    </div>
                                    <div class="comment-meta">
                                        <span class="comment-date">{{ comment.created_at }}</span>
                                        <a href="#" class="comment-reply">Reply</a>
                                    </div>
                                    <p class="comment-text">{{ comment.message }}</p>
                                </div>
                                <!-- Nested replies -->
                                <ul class="children">
                                    {% for reply in comment.replies.all %}
                                    <li class="comment">
                                        <div class="comment-content">
                                            <div class="comment-author">
                                                <img src="{{ reply.author_image.url }}" alt="" class="comment-avatar">
                                                <span class="comment-author-name">{{ reply.author }}</span>
                                            </div>
                                            <div class="comment-meta">
                                                <span class="comment-date">{{ reply.created_at }}</span>
                                                <a href="#" class="comment-reply">Reply</a>
                                            </div>
                                            <p class="comment-text">{{ reply.message }}</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <!-- End nested replies -->
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="leave-reply">
                        <h2>Leave Comment</h2>
                        <form action="{% url 'add_comment' blog.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input placeholder="Enter your Name" class="form-control" type="text" name="author">
                            </div>
                            <div class="form-group">
                                <input placeholder="Enter E-mail ID" class="form-control" type="email" name="email">
                            </div>
                            <div class="form-group">
                                <input placeholder="Website" class="form-control" type="text" name="website">
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Message" class="form-control" name="message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Post Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}