{% extends 'staff/admin_base.html' %}
{% load static %}

{% block main %}
    <div class="main-content app-content">
        <!-- ... (rest of your HTML) ... -->
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Add Blog
                    </div>
                </div>
                <div class="card-body">
                    <form action="{% url 'add_blog_back' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-xl-12">
                            <label for="input-rounded" class="form-label">Title</label>
                            <input type="text" name="title" class="form-control" id="input-rounded" placeholder="Title">
                        </div>
                       <div class="col-xl-12">
    <label for="input-rounded" class="form-label">Category</label>
    <select name="category" class="form-select">
        {% for choice in form.category.choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
    </select>
</div>
                        <div class="col-xl-12">
                            <label for="input-rounded" class="form-label">Author</label>
                            <input type="text" name="author" class="form-control" id="input-rounded" placeholder="Author">
                        </div>
                        <div class="col-xl-12">
                            <label for="input-rounded" class="form-label">Author Email</label>
                            <input type="email" name="author_email" class="form-control" id="input-rounded" placeholder="Author Email">
                        </div>
                        <div class="col-xl-12">
                            <label for="input-rounded" class="form-label">Publish Date</label>
                            <input type="date" name="publish_date" class="form-control" id="input-rounded">
                        </div>
                        <div class="col-xl-12">
                            <label for="input-rounded" class="form-label">Publish Time</label>
                            <input type="time" name="publish_time" class="form-control" id="input-rounded">
                        </div>
                        <div class="col-xl-12">
                            <label for="input-rounded" class="form-label">Published Status</label>
                            <select name="published_status" class="form-select">
                                {% for choice in form.published_status.choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-12">
                            <label for="input-rounded" class="form-label">Content</label>
                            <textarea name="content" class="form-control" id="input-rounded" rows="4" placeholder="Content"></textarea>
                        </div>
                        <div class="col-xl-12">
                            <label for="input-rounded" class="form-label">Blog Type</label>
                            <select name="blog_type" class="form-select">
                                {% for choice in form.blog_type.choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Image</label>
                            <input class="form-control" type="file" name="images" id="formFile">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% if form.is_bound and form.is_valid %}
                        <p class="text-success">Blog successfully added!</p>
                    {% endif %}
                </div>
                <div class="card-footer d-none border-top-0">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
