{% extends 'front/base.html' %}
{% block about %} active {% endblock %}
{% block about_mega %} active {% endblock %}
{% block content %} 
{% load static %}
<section class="section border-0 py-4 m-0 px-lg-5  pt-4">
    <div class="container">
        <div class="row align-items-end pb-3 ">
            <div class="d-flex align-items-end justify-content-end">
                <ul class="breadcrumb d-block text-center">
                    <li><a href="#">Home</a></li>
                    <li class="active">Message Detail</li>
                </ul>        
            </div>
            <hr class="bg-light">
            <div class="col-12 mb-lg-0 ">
                <div class="d-flex align-items-center mb-2  justify-content-center">
                    <div class="overflow-hidden text-center">
                        <h2 class="text-color-primary text-9 text-center font-weight-semibold line-height-3 text-5 mb-0 appear-animation"
                            data-appear-animation="maskRight" data-appear-animation-delay="300">Detail about our bureau 
                        </h2>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="container mt-2 mb-5 pb-5 px-lg-5 px-md-3">
            <div class="row align-items-start">
                <div class=" d-sm-block d-md-none d-lg-none  align-items-start justify-content-start mb-2 py-4">
                    <div class=" overflow-hidden ms-3">
                        <h2 class="text-primary font-weight-semibold line-height-3 text-4 mb-0 appear-animation"
                            data-appear-animation="maskRight" data-appear-animation-delay="500">{{ about_us.title }}</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-10">
                    <div class="position-relative">
                        <div data-plugin-float-element
                            data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                            <img src="{{ about_us.image.url }}" style="border-radius: 10px; max-height: 500px; width: 90%;"
                                class="img-fluid custom-box-shadow-1 appear-animation" data-appear-animation="fadeInLeftShorter"
                                data-appear-animation-delay="1800" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mb-5 mb-lg-0">
        
                    <div class="d-flex d-sm-none d-md-block d-lg-block align-items-start justify-content-start mb-2 py-4">
                        <span class="custom-line appear-animation" data-appear-animation="customLineAnimation"
                            appear-animation-duration="1s"></span>
                        <div class="overflow-hidden ms-3">
                            <h2 class="text-primary font-weight-semibold line-height-3 text-4 mb-0 appear-animation"
                                data-appear-animation="maskRight" data-appear-animation-delay="500">{{ about_us.title }}</h2>
                        </div>
                    </div>
        
                    {% for paragraph in paragraphs %}
                    <p class="custom-font-secondary mb-3 appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="700">
                        {{ paragraph}}
                    </p>
                    {% endfor %}
        
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block js %}
<script src="{% static 'front/vendor/gsap/gsap.min.js' %}"></script>
{% endblock %}
