{% extends 'front/base.html' %}
{% load i18n %}
{% block about %} active {% endblock %}
{% block about_mega %} active {% endblock %}
{% block content %} 
{% load static %}
<section class="section border-0 py-10 m-0 px-lg-5  pt-4">
    <div class="container">
        <div class="row align-items-end pb-3 ">
            <div class="d-flex align-items-end justify-content-end">
                <ul class="breadcrumb d-block text-center">
                    <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                    <li class="active">{% trans "About Us" %}</li>
                </ul>        
            </div>
            <hr class="bg-light">
            <div class="col-12 mb-lg-0 ">
                <div class="d-flex align-items-center mb-2  justify-content-center">
                    <div class="overflow-hidden text-center">
                        <h2 class="text-color-primary text-9 text-center font-weight-semibold line-height-3 text-5 mb-0 appear-animation"
                            data-appear-animation="maskRight" data-appear-animation-delay="300">{% trans "About Us" %}
                        </h2>
                    </div>
                </div>
                <p  class="appear-animation text-center"  data-appear-animation="maskRight" data-appear-animation-delay="400"> 
                    {% trans "Detail about our bureau" %} {{about_data.title}}
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 pb-sm-4 pb-lg-0 pe-lg-5 mb-sm-5 mb-lg-0">
                    <p class="">{{ about_data.content }}</p>
                </div>
                <!-- <div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 position-relative mt-sm-5" style="top: 1.7rem;">
                    <img src=" about_data.image_one.url }}" class="img-fluid position-absolute d-none d-md-block d-lg-block appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; left: -60%; width: 220px;" alt="" />
                    <img src=" about_data.image_two.url }}" class="img-fluid position-absolute d-none d-md-block d-lg-block appear-animation" data-appear-animation="expandIn" style="top: -33%; left: -40%; width: 270px;" alt="" />
                    <img src=" about_data.image_three.url }}" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" />
                </div> -->

                <div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 position-relative mt-sm-5" style="top: 1.7rem;">
                    {% if about_data.image_one %}
                    <img src="{{ about_data.image_one.url }}" class="img-fluid position-absolute d-none d-md-block d-lg-block appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; left: -60%; width: 220px;" alt="" />
                    {% else %}
                    <img src="/static/front/imgs/about/addis-best-2.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; left: -60%; width: 220px;" alt="" />
                    {% endif %}

                    {% if about_data.image_two %}
                    <img src="{{ about_data.image_two.url }}" class="img-fluid position-absolute d-none d-md-block d-lg-block appear-animation" data-appear-animation="expandIn" style="top: -33%; left: -40%; width: 270px;" alt="" />
                    {% else %}
                    <img src="/static/front/imgs/about/addis-best.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" style="top: -33%; left: -40%; width: 270px;" alt="" />
                    {% endif %}
                    
                    {% if about_data.image_three %}
                    <img src="{{ about_data.image_three.url }}" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" />
                    {% else %}
                    <img src="/static/front/imgs/about/about-image.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg-color-grey ">
    <div id="examples" class="container py-2 pt-5 ">
        <h2 class="text-color-dark font-weight-normal text-8 mb-2">
            {% trans "Mission" %} 
            <span class="font-weight-light">/</span>  {% trans "Vision" %}  
            <span class="font-weight-light">/</span> {% trans "Values" %} 
        </h2>
        <div class="row mb-5 pb-3" >
            <div class="col-lg-4 appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">

                <div class="aligned card border-0 border-shadow bg-color-light text-center" style="min-height: 300px; ">
                    <div class="card-body">
                        <img class="icons text-2 " style="height: 50px;" src="{% static 'front/imgs/about/value.svg' %}">
                        <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">{% trans "Mission" %}</h4>
                        
                        <div data-plugin-readmore="" data-plugin-options="{
                            'buttonOpenLabel': 'Read More <i class=\'fas fa-chevron-down text-2 ms-1\'></i>',
                            'buttonCloseLabel': 'Read Less <i class=\'fas fa-chevron-up text-2 ms-1\'></i>',
                            'align': 'end'
                            }" class="position-relative" style="height: 250px; overflow: hidden; max-height: none;">

                            <p class="card-text">{{ about_data.mission }}</p> 
                            
                            <div class="readmore-button-wrapper text-end" style="position: absolute; bottom: 0px; left: 0px; width: 100%; z-index: 2;">
                                <a href="#" class="text-decoration-none">{% trans "Read More" %} <i class="fas fa-chevron-down text-2 ms-1"></i></a>
                            </div>
                            <div class="readmore-overlay" style="background: linear-gradient(rgba(2, 0, 36, 0) 0%, rgb(255, 255, 255) 100%); position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100px; z-index: 1;"></div>
                        </div>                   
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="aligned card border-0 border-shadow bg-color-light text-center" style="min-height: 300px;">
                    <div class="card-body">
                        <img class="icons text-2 " style="height: 50px;" src="{% static 'front/imgs/about/vision.svg' %}">
                        <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">{% trans "Vision" %}</h4>
                     
                     <div data-plugin-readmore="" data-plugin-options="{
                        'buttonOpenLabel': 'Read More <i class=\'fas fa-chevron-down text-2 ms-1\'></i>',
                        'buttonCloseLabel': 'Read Less <i class=\'fas fa-chevron-up text-2 ms-1\'></i>',
                        'align': 'end'
                        }" class="position-relative" style="height: 250px; overflow: hidden; max-height: none;">

                        <p class="card-text">{{ about_data.vision }}</p>

                        <div class="readmore-button-wrapper text-end" style="position: absolute; bottom: 0px; left: 0px; width: 100%; z-index: 2;">
                            <a href="#" class="text-decoration-none">{% trans "Read More" %} <i class="fas fa-chevron-down text-2 ms-1"></i></a>
                        </div>
                        <div class="readmore-overlay" style="background: linear-gradient(rgba(2, 0, 36, 0) 0%, rgb(255, 255, 255) 100%); position: absolute; bottom: 0px; left: 75%; width: 100%; height: 100px; z-index: 1;"></div>
                    </div>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                <div class="aligned card border-0 border-shadow bg-color-light " style="min-height: 300px;">
                    <div class="card-body ">
                        <div class="text-center">
                            <img class="icons text-2 " style="height: 50px;" src="{% static 'front/imgs/about/value.svg' %}">
                            <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold ">{% trans "Values" %} </h4>
                        </div>

                        <div data-plugin-readmore="" data-plugin-options="{
                            'buttonOpenLabel': 'Read More <i class=\'fas fa-chevron-down text-2 ms-1\'></i>',
                            'buttonCloseLabel': 'Read Less <i class=\'fas fa-chevron-up text-2 ms-1\'></i>',
                            'align': 'end'
                            }" class="position-relative" style="height: 250px; overflow: hidden; max-height: none;">

                            <p class="card-text">{{ about_data.values }}</p>

                            <div class="readmore-button-wrapper text-end" style="position: absolute; bottom: 0px; left: 0px; width: 100%; z-index: 2;">
                                <a href="#" class="text-decoration-none">{% trans "Read More" %}<i class="fas fa-chevron-down text-2 ms-1"></i></a>
                            </div>
                            <div class="readmore-overlay" style="background: linear-gradient(rgba(2, 0, 36, 0) 0%, rgb(255, 255, 255) 100%); position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100px; z-index: 1;"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div id="" class="container py-2 pt-5 pb-5 px-5">
    <h2 class="text-color-dark font-weight-normal text-8 mb-2">{% trans "Management experts" %}</h2>
    <div class="row mt-lg-5">
        {% for member in team_members %}
        <div class="col-lg-3 mb-4">
            <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-linear thumb-info-centered-icons">
                <span class="thumb-info-wrapper">
                    <img src="{{ member.image.url }}" class="img-fluid" style="height:290px;" alt="">
                    <span class="thumb-info-title">
                        <span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">{{ member.name }}</span>
                        <span class="thumb-info-type">{{ member.role }}</span>
                    </span>													
                    <span class="thumb-info-action">
                        <a href="{{ member.social_facebook }}">
                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fab fa-facebook-f text-dark text-dark"></i></span>
                        </a>
                        <a href="{{ member.social_twitter }}" aria-label="">
                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fab fa-twitter text-dark"></i></span>
                        </a>
                        <a href="{{ member.social_google_plus }}" aria-label="">
                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fab fa-google-plus-g text-dark"></i></span>
                        </a>
                    </span>
                </span>
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %}

<script>
    var max = 0;
    $(".aligned").each(function(i, elem){
        if ($(this).attr('height') > max){
            max = $(this).attr('height');
        }
    });
  
    $(".aligned").each(function(elem){
        $(this).attr("height",max);
    })

</script>
<script src="{% static 'front/vendor/gsap/gsap.min.js' %}"></script>
{% endblock %}
