{% extends 'front/base.html' %}
{% load static %}
{% block content %}

<section class="section border-0 py-4 m-0 px-lg-5 pt-4">
    <div class="row align-items-center text-center pb-3 mb-5 mb-lg-4">
        <div class="d-flex align-items-end justify-content-end">
            <ul class="breadcrumb d-block text-center">
                <li><a href="#" class="text-grey">Home</a></li>
                <li class=" lsdf"><a href="{% url 'blog_list' %}" class="text-grey">Blog List</a></li>
                <li class="active text-primary"> <a href="">Blog Detail</a></li>

            </ul>
        </div>
        <hr class="bg-light">
        <div class="col-12 mb-lg-0 ">
            <div class="d-flex align-items-center mb-2  justify-content-center">
                <div class="overflow-hidden text-center">
                    <h2 class="text-color-primary text-9 text-center font-weight-semibold line-height-3 text-5 mb-0 appear-animation"
                        data-appear-animation="maskRight" data-appear-animation-delay="300">BLOG DETAIL
                    </h2>
                </div>
            </div>
            <p class="appear-animation text-center" data-appear-animation="maskRight" data-appear-animation-delay="400">
                Blog on '{{blog.title}}'
            </p>
        </div>

    </div>

    <div class="container ">
        <div class="blog-posts single-post">

            <article class="post post-large blog-single-post border-0 m-0 p-0">
                <div class="post-image ms-0">
                    <a href="blog-post.html">
                        {% if blog.images %}
                        <img src="{{blog.images.url}}"
                            class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                        {% else %}
                        <img src="{% static 'front/imgs/blog/blog-1.jpg' %}"
                            class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                        {% endif %}

                    </a>
                </div>

                

                <div class="post-content ms-0">

                    <h2 class="font-weight-semi-bold"><a href="#">{{blog.title}}</a></h2>
                    <div class="post-block mt-4 pt-2 post-author">
                        <h4 class="text-4 mb-3">Author</h4>
                        <div class="img-thumbnail img-thumbnail-no-borders d-block pb-3">
                            <a href="#">
                                <img src="{% static 'front/imgs/team/user.png' %}" alt="">
                            </a>
                        </div>
                        <p><strong class="name"><a href="#" class="text-4 pb-2 pt-2 d-block">{{blog.author}}</a></strong></p>
                       
                    </div>
                    <div class="post-meta">
                        <span><i class="far fa-clock"></i> <a href="#">{{blog.publish_date|date}}</a></span>
                        <span><i class="far fa-user"></i> By <a href="#">{{blog.author}}</a> </span>
                        <span><i class="far fa-folder"></i> <a href="#">{{blog.category}}</a></span>
                        <span><i class="far fa-comments"></i> <a href="#">{{blog.comment_set.all.count}} Comments</a></span>
                    </div>

                    <p>{{blog.content|safe}}</p>

                    
                    <!-- <div id="comments" class="post-block mt-5 post-comments">
                        <h4 class="mb-3">Comments ({{blog.comment_set.all.count}})</h4>

                        <ul class="comments">
                            <li>
                                <div class="comment">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                        <img class="avatar" alt="" src="img/avatars/avatar-2.jpg">
                                    </div>
                                    <div class="comment-block">
                                        <div class="comment-arrow"></div>
                                        <span class="comment-by">
                                            <strong>John Doe</strong>
                                            <span class="float-end">
                                                <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                            </span>
                                        </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                                            odio, gravida pellentesque urna varius vitae, gravida pellentesque urna
                                            varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                            viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem,
                                            adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu
                                            convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.
                                        </p>
                                        <span class="date float-end">January 12, 2023 at 1:38 pm</span>
                                    </div>
                                </div>

                                <ul class="comments reply">
                                    <li>
                                        <div class="comment">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                <img class="avatar" alt="" src="img/avatars/avatar-3.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <div class="comment-arrow"></div>
                                                <span class="comment-by">
                                                    <strong>John Doe</strong>
                                                    <span class="float-end">
                                                        <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                    </span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                                                    euismod odio, gravida pellentesque urna varius vitae, gravida
                                                    pellentesque urna varius vitae.</p>
                                                <span class="date float-end">January 12, 2023 at 1:38 pm</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                <img class="avatar" alt="" src="img/avatars/avatar-4.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <div class="comment-arrow"></div>
                                                <span class="comment-by">
                                                    <strong>John Doe</strong>
                                                    <span class="float-end">
                                                        <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                    </span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                                                    euismod odio, gravida pellentesque urna varius vitae, gravida
                                                    pellentesque urna varius vitae.</p>
                                                <span class="date float-end">January 12, 2023 at 1:38 pm</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                        <img class="avatar" alt="" src="img/avatars/avatar.jpg">
                                    </div>
                                    <div class="comment-block">
                                        <div class="comment-arrow"></div>
                                        <span class="comment-by">
                                            <strong>John Doe</strong>
                                            <span class="float-end">
                                                <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                            </span>
                                        </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <span class="date float-end">January 12, 2023 at 1:38 pm</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                        <img class="avatar" alt="" src="img/avatars/avatar.jpg">
                                    </div>
                                    <div class="comment-block">
                                        <div class="comment-arrow"></div>
                                        <span class="comment-by">
                                            <strong>John Doe</strong>
                                            <span class="float-end">
                                                <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                            </span>
                                        </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <span class="date float-end">January 12, 2023 at 1:38 pm</span>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <div class="post-block mt-5 post-leave-comment">
                        <h4 class="mb-3">Leave a comment</h4>

                        <form class="contact-form p-4 rounded bg-color-grey"
                            action="https://www.okler.net/previews/porto/10.0.0/php/contact-form.php" method="POST">
                            <div class="p-2">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label class="form-label required font-weight-bold text-dark">Full Name</label>
                                        <input type="text" value="" data-msg-required="Please enter your name."
                                            maxlength="100" class="form-control" name="name" required>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label required font-weight-bold text-dark">Email
                                            Address</label>
                                        <input type="email" value=""
                                            data-msg-required="Please enter your email address."
                                            data-msg-email="Please enter a valid email address." maxlength="100"
                                            class="form-control" name="email" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required font-weight-bold text-dark">Comment</label>
                                        <textarea maxlength="5000" data-msg-required="Please enter your message."
                                            rows="8" class="form-control" name="message" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col mb-0">
                                        <input type="submit" value="Post Comment" class="btn btn-primary btn-modern"
                                            data-loading-text="Loading...">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> -->

                </div>
            </article>

        </div>

    </div>

</section>

{% endblock %}