{% extends 'front/base.html' %}
{% load i18n %}
{% block contact_us %} active {% endblock %}
{% block content %} 

<section class="section border-0 m-0 px-lg-5 pt-4">
    <div class="container">
        <div class="row align-items-end mb-5 mb-lg-4">
            <div class="d-flex align-items-end justify-content-end">
                <ul class="breadcrumb d-block text-center">
                    <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                    <li class="active">{% trans "Contact Us" %}</li>
                </ul>        
            </div>
            <hr class="bg-light">
            <div class="col-12 mb-lg-0 ">
                <div class="d-flex align-items-center mb-2  justify-content-center">
                    <div class="overflow-hidden text-center">
                        <h2 class="text-color-primary text-9 text-center font-weight-semibold line-height-3 text-5 mb-0 appear-animation"
                            data-appear-animation="maskRight" data-appear-animation-delay="300">{% trans "CONTACT US" %}
                        </h2>
                    </div>
                </div>
                <p  class="appear-animation text-center"  data-appear-animation="maskRight" data-appear-animation-delay="400"> 
                    {% trans "Keep in touch and send us your thoughts." %}
                </p>
            </div>
        </div>
        
        <div id="examples" class="container ">

            
            <section class="section border-0 bg-light py-4 m-0 px-lg-5">
                <div class="container">
                    <div class="row align-items-end pb-3 ">
                        <div class="col-lg-7 col-xl-8  ">
                            <div class="d-flex align-items-center mb-2">
                                <div class="overflow-hidden">
                                    <h2 class="text-color-primary font-weight-semibold line-height-3 text-5 mb-0 appear-animation"
                                        data-appear-animation="maskRight" data-appear-animation-delay="500">{% trans "Our Office Location" %}
                                    </h2>
                                </div>
                            </div>
                            <p  class="appear-animation"  data-appear-animation="maskRight" data-appear-animation-delay="600"> 
                                {% trans "HAVE SOMETHING TO SAY OR NEED ADDITIONAL INFORMATION? DROP BY TO OUR OFFICE" %}
                            </p>
                        </div>
                        
                    </div>
                    <div class="row " >    
                        <div class="row mt-0">


                            <div class="col-md-6 col-sm-12 "  >

                                <div class="offset-anchor" id="contact-sent"></div>

                                
                                <h2 class="font-weight-bold text-7 mt-2 mb-0">{% trans "Contact Us" %}</h2>
                                <p class="mb-4">{% trans "WE'RE HERE TO ASSIST YOU!" %}</p>

                                <form id="" action="{% url 'contact_us' %}" method="POST" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form-group col-12">
                                            <input name="name" id="name" type="text" value="" placeholder="{% trans 'Full Name' %}" data-msg-required="Please enter your name." maxlength="100" class="form-control text-3 h-auto py-2"  required="">
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <!-- <label class="form-label mb-1 text-2">Email Address</label> -->
                                            <input name="email" id="email" type="email" value="" placeholder="{% trans 'Email Address' %}" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-2"  required="">
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <!-- <label class="form-label mb-1 text-2">Phone Number</label> -->
                                            <input type="number"  name="phone" id="phone" placeholder="{% trans 'Phone Number' %}" value="" data-msg-required="Please enter your phone number." data-msg-email="Please enter a valid phone number." maxlength="100" class="form-control text-3 h-auto py-2"  required="">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <!-- <label class="form-label mb-1 text-2">Select Subject</label> -->
                                        <input name="subject" placeholder="{% trans 'Subject' %}" data-msg-required="Please enter the subject." class="form-control text-3 h-auto py-2" name="subject" id="subject" required="" />
                                        <!-- <select data-msg-required="Please enter the subject." class="form-control text-3 h-auto py-2" name="subject" id="subject" required="">
                                            <option value="">...</option>
                                            <option value="Option 1">General Inquiry</option>
                                            <option value="Option 2">Vacancy update</option>
                                            <option value="Option 3">Status update</option>
                                        </select> -->
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12 mb-4">
                                            
                                            <textarea maxlength="5000" placeholder="Message" data-msg-required="Please enter your message." rows="6" class="form-control text-3 h-auto py-2" name="message" id="message" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12 mb-5 text-center">
                                            <button type="submit" id="contactFormSubmit" class="btn btn-primary btn-modern pull-right" data-loading-text="Loading...">{% trans "Send Message" %}</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            
                            <div class="col-md-6 col-sm-12">
                                {% if map %}
                                    {{map|safe}}
                                {% else %}
                                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3274.724996388625!2d38.76123931516503!3d9.145004492101012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1635555555555555%3A0x70bba4e6e5c780f5!2sAddis%20Ababa%2C%20Ethiopia!5e0!3m2!1sen!2sin!4v1643117899813!5m2!1sen!2sin">
                                    </iframe>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>



        </div>
    </div>
</section>

{% endblock %}

