

{% extends 'front/base.html' %}
{% load static %}
{% block news %} active {% endblock %}
{% block news_mega %} active {% endblock %}

{% block content %} 

<section class="section border-0 py-4 m-0 px-lg-5 pt-4">
    <div class="row align-items-center text-center pb-3 mb-5 mb-lg-4">
        <div class="d-flex align-items-end justify-content-end">
            <ul class="breadcrumb d-block text-center">
                <li ><a href="#" class="text-grey">Home</a></li>
                <li class=" lsdf"><a href="{% url 'news_list_visitor' %}" class="text-grey">News List</a></li>
                <li class="active text-primary" > <a href="">News Detail</a></li>
                
            </ul>        
        </div>
        <hr class="bg-light">
        <div class="col-12 mb-lg-0 ">
            <div class="d-flex align-items-center mb-2  justify-content-center">
                <div class="overflow-hidden text-center">
                    <h2 class="text-color-primary text-9 text-center font-weight-semibold line-height-3 text-5 mb-0 appear-animation"
                        data-appear-animation="maskRight" data-appear-animation-delay="300">NEWS DETAIL
                    </h2>
                </div>
            </div>
            <p  class="appear-animation text-center"  data-appear-animation="maskRight" data-appear-animation-delay="400"> 
                News on '{{news_item.title|truncatechars:60}}'
            </p>
        </div>
        
    </div>
   


    <div class="container py-4">

        <div class="row">
            <div class="col">
                <div class="blog-posts single-post">

                    <article class="post post-medium blog-single-post border-0 m-0 p-0">

                        <!-- multiple imgs -->
                        <div class="row justify-content-center">
                            <div class="col mx-auto">
                                
                                <div class="thumb-gallery-wrapper">
                                    <div class="thumb-gallery-detail owl-carousel owl-theme manual nav-inside nav-style-1 nav-dark mb-3" style="max-height: 550px;">

                                        <div>
                                            <img src="{{news_item.featured_image.url}}" class="img-fluid" style="max-height:550px;" alt="">
                                        </div>

                                       


                                    </div>
                                    <!-- <div class="thumb-gallery-thumbs owl-carousel owl-theme manual thumb-gallery-thumbs">


                                        <div>
                                            <span class="d-block cur-pointer">
                                                <img alt="" src="/static/front/imgs/blog/blog-1.jpg" class="img-fluid" style="max-height:160px;">
                                            </span>
                                        </div>

                                        <div>
                                            <span class="d-block cur-pointer">
                                                <img alt="" src="/static/front/imgs/blog/blog-2.jpg" class="img-fluid" style="max-height:160px;">
                                            </span>
                                        </div>

                                        <div>
                                            <span class="d-block cur-pointer">
                                                <img alt="" src="/static/front/imgs/blog/blog-3.jpg" class="img-fluid" style="max-height:160px;">
                                            </span>
                                        </div>

                                        <div>
                                            <span class="d-block cur-pointer">
                                                <img alt="" src="/static/front/imgs/blog/blog-4.jpg" class="img-fluid" style="max-height:160px;">
                                            </span>
                                        </div>

                                        <div>
                                            <span class="d-block cur-pointer">
                                                <img alt="" src="/static/front/imgs/blog/blog-5.jpg" class="img-fluid" style="max-height:160px;">
                                            </span>
                                        </div>


                                    </div> -->
                                </div>

                            </div>
                        </div>
                        <!-- end -->


                        <div class="post-date ">
                            <span class="day">{{news_item.created_at|date}}</span>
                            <span class="month">{{news_item.created_at}}</span>
                        </div>

                        <div class="post-content ">
                            
                            <blockquote class="blockquote-primary">
                                <h2 class="font-weight-semi-bold"><a href="">Ethiopia and UNIIDO signeda 3.2 Million Euro grant agreement</a></h2>
        
                                <div class="post-meta">
                                    <span><i class="far fa-user"></i> By <a href="#">{{news_item.author}}</a> </span>
                                    <span><i class="far fa-folder"></i> <a href="#">{{news_item.category}}</a> </span>
                                    <span><i class="far fa-calendar"></i> <a href="#">{{news_item.created_at|date}}</a></span>
                                </div>
                            </blockquote>


                            <p>{{news_item.content|safe}}</p>

                        </div>
                    </article>

                </div>
            </div>
        </div>

    </div>
    
</section>

{% endblock %}

{% block js %}		

<script src="/static/front/js/examples/examples.gallery.js"></script>	

{% endblock %}