{% extends 'front/base.html' %}
{% load i18n %}
{% block about %} active {% endblock %}
{% block about_mega %} active {% endblock %}
{% block content %} 
{% load static %}
<section class="section border-0 py-4 m-0 px-lg-5  pt-4">
    <div class="container">
        <div class="row align-items-end pb-3 ">
            <div class="d-flex align-items-end justify-content-end">
                <ul class="breadcrumb d-block text-center">
                    <li><a href="/">Home</a></li>
                    <li class="active">Services</li>
                </ul>        
            </div>
            <hr class="bg-light">
            <div class="col-12 mb-lg-0 ">
                <div class="d-flex align-items-center mb-2  justify-content-center">
                    <div class="overflow-hidden text-center">
                        <h2 class="text-color-primary text-9 text-center font-weight-semibold line-height-3 text-5 mb-0 appear-animation"
                            data-appear-animation="maskRight" data-appear-animation-delay="300">Our Services
                        </h2>
                    </div>
                </div>
                <p  class="appear-animation text-center"  data-appear-animation="maskRight" data-appear-animation-delay="400"> 
                    Detail about our services
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 pb-sm-4 pb-lg-0 pe-lg-5 mb-sm-5 mb-lg-0">
                    <p class="">{{ about_data.content }}</p>
                </div>
                

              
            </div>
        </div>
    </div>
</section>
<div class="bg-color-grey ">
    <div id="examples" class="container py-2 pt-5 ">
        <h2 class="text-color-dark font-weight-normal text-8 mb-2"></h2>
        <div class="row mb-5 pb-3" >
            <div class="col-lg-4 appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">

                <div class="aligned card border-0 border-shadow bg-color-light text-center" style="height: 300px; ">
                    <div class="card-body">
                        <!-- <img class="icons text-2 " style="height: 50px;" src="{% static 'front/imgs/about/value.svg' %}"> -->
                        <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Service 1</h4>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium adipisci laudantium amet quidem quas, rem molestias illum provident in esse sapiente tenetur soluta maxime doloribus quae deleniti sint saepe reiciendis?</p>                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="aligned card border-0 border-shadow bg-color-light text-center" style="height: 300px;">
                    <div class="card-body">
                        <!-- <img class="icons text-2 " style="height: 50px;" src="{% static 'front/imgs/about/vision.svg' %}"> -->
                     <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Service 2</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi accusantium veritatis, ex eaque est laudantium asperiores! Sunt eum expedita labore explicabo ab, beatae vero. Deleniti dicta atque cumque animi ratione.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                <div class="aligned card border-0 border-shadow bg-color-light " style="height: 300px;">
                    <div class="card-body ">
                        <div class="text-center">
                            <!-- <img class="icons text-2 " style="height: 50px;" src="{% static 'front/imgs/about/value.svg' %}"> -->
                            <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold ">Service 3</h4>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, repudiandae. Dignissimos esse provident velit sint quas alias cupiditate eveniet distinctio consectetur. Similique sint hic dolores suscipit sunt, asperiores distinctio sed.</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="row mb-5 pb-3" >
            <div class="col-lg-4 appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">

                <div class="aligned card border-0 border-shadow bg-color-light text-center" style="height: 300px; ">
                    <div class="card-body">
                        <!-- <img class="icons text-2 " style="height: 50px;" src="{% static 'front/imgs/about/value.svg' %}"> -->
                        <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Service 1</h4>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium adipisci laudantium amet quidem quas, rem molestias illum provident in esse sapiente tenetur soluta maxime doloribus quae deleniti sint saepe reiciendis?</p>                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="aligned card border-0 border-shadow bg-color-light text-center" style="height: 300px;">
                    <div class="card-body">
                        <!-- <img class="icons text-2 " style="height: 50px;" src="{% static 'front/imgs/about/vision.svg' %}"> -->
                     <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Service 2</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi accusantium veritatis, ex eaque est laudantium asperiores! Sunt eum expedita labore explicabo ab, beatae vero. Deleniti dicta atque cumque animi ratione.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                <div class="aligned card border-0 border-shadow bg-color-light " style="height: 300px;">
                    <div class="card-body ">
                        <div class="text-center">
                            <!-- <img class="icons text-2 " style="height: 50px;" src="{% static 'front/imgs/about/value.svg' %}"> -->
                            <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold ">Service 3</h4>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, repudiandae. Dignissimos esse provident velit sint quas alias cupiditate eveniet distinctio consectetur. Similique sint hic dolores suscipit sunt, asperiores distinctio sed.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
