<!-- Add this form to your HTML template -->
{% extends 'base_new_admin.html' %}
{% load static %}
{% block main %}
            <div class="main-content app-content">
                <div class="container-fluid">
                    <!-- Page Header -->
                    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                        <h1 class="page-title fw-semibold fs-18 mb-0">Inputs</h1>
                        <div class="ms-md-1 ms-0">
                            <nav>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Form Elements</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Inputs</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- Page Header Close -->
                    <!-- Start:: row-1 -->
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card custom-card">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        Input shapes
                                    </div>
                                    <div class="prism-toggle">
                                        <button class="btn btn-sm btn-primary-light">summit<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row gy-3">
                                        <div class="col-xl-12">
                                            <label for="input-noradius" class="form-label">Input With No Radius</label>
                                            <input type="text" class="form-control rounded-0" id="input-noradius" placeholder="No Radius">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="input-rounded" class="form-label">Input With Radius</label>
                                            <input type="text" class="form-control" id="input-rounded" placeholder="Default Radius">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="input-rounded-pill" class="form-label">Rounded Input</label>
                                            <input type="text" class="form-control rounded-pill" id="input-rounded-pill" placeholder="Rounded">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-none border-top-0">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card custom-card">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        Input border Styles
                                    </div>
                                    <div class="prism-toggle">
                                        <button class="btn btn-sm btn-primary-light">summit<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row gy-3">
                                        <div class="col-xl-12">
                                            <label for="input-rounded1" class="form-label">Default</label>
                                            <input type="text" class="form-control" id="input-rounded1" placeholder="Default">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="input-rounded2" class="form-label">Dotted Input</label>
                                            <input type="text" class="form-control border-dotted" id="input-rounded2" placeholder="Dotted">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="input-rounded3" class="form-label">Dashed Input</label>
                                            <input type="text" class="form-control border-dashed" id="input-rounded3" placeholder="Dashed">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-none border-top-0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-1 -->

                    <!-- Start:: row-2 (New Forms) -->
                    <div class="row">
                        <!-- Form 1 -->
                        <div class="col-xl-6">
                            <div class="card custom-card">
                                <!-- Add form content here -->
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        Input border Styles
                                    </div>
                                    <div class="prism-toggle">
                                        <button class="btn btn-sm btn-primary-light">summit<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row gy-3">
                                        <div class="col-xl-12">
                                            <label for="input-rounded1" class="form-label">Default</label>
                                            <input type="text" class="form-control" id="input-rounded1" placeholder="Default">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="input-rounded2" class="form-label">Dotted Input</label>
                                            <input type="text" class="form-control border-dotted" id="input-rounded2" placeholder="Dotted">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="input-rounded3" class="form-label">Dashed Input</label>
                                            <input type="text" class="form-control border-dashed" id="input-rounded3" placeholder="Dashed">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-none border-top-0">
                                </div>
                            </div>
                        </div>
                        <!-- Form 2 -->
                        <div class="col-xl-6">
                            <div class="card custom-card">
                                <!-- Add form content here -->
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        Input border Styles
                                    </div>
                                    <div class="prism-toggle">
                                        <button class="btn btn-sm btn-primary-light">summit<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row gy-3">
                                        <div class="col-xl-12">
                                            <label for="input-rounded1" class="form-label">Default</label>
                                            <input type="text" class="form-control" id="input-rounded1" placeholder="Default">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="input-rounded2" class="form-label">Dotted Input</label>
                                            <input type="text" class="form-control border-dotted" id="input-rounded2" placeholder="Dotted">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="input-rounded3" class="form-label">Dashed Input</label>
                                            <input type="text" class="form-control border-dashed" id="input-rounded3" placeholder="Dashed">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-none border-top-0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-2 (New Forms) -->
                </div>
            </div>
{% endblock%}
