{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- Start about content area -->
<section class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title text-center">
                    <h1>About us</h1>
                </div>
                <div class="breadcumb-area text-center">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">About us</li>
                    </ol>
                </div>
                <div class="back-home">
                    <a href="index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK TO HOME</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-content-area pt-90 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-image">
                    <div class="section-title" style="text-align: left;">
                        <h2>About <span>Us</span></h2>
                    </div>
                    <img src="{% static 'img/about/about-image.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-content">
                    <!-- Start section title -->
                    <div class="about-image">
                        <img src="img/staff.png" alt="">
                    </div>
                    <!-- End section title -->
                    <div class="about-text">
                        <p style="margin-top: 40px;">ማንኛዉም የመስሪያ ቤቱ ተገልጋይ በመጀመሪያ ቅሬታዎችን በቃል ወይም በፅሁፍ አገልግሎቱን በሚሰጠዉ ፈፃሚ ባለሙያ እንዲፈታለት ጥያቄ አቅርቦ ካልተፈታለት ወይም ምላሽ ካላገኘ ለቅርብ ኃላፊዉ ቅሬታዉን ማቅረብ ይችላል፡፡ ሆኖም የቅርብ ኃላፊዉ ለቀረበዉ ቅሬታ አጥጋቢ ምላሽ ካልሰጠ ለጽ/ቤቱ ወይም የቢሮዉ የበላይ ኃላፊ ቅሬታዉን ማቅረብ ይችላል፡፡</p>
                        <p style="margin-top: 40px;">የአዲስ አበባ ከተማ አስተዳደር ፋይናንስ ቢሮ በከተማው አስተዳደር ምክር ቤት በአዋጅ ቁጥር 74/2014 በተሰጠው ስልጣን መሰረት በከተማዋ የሚታየውን ስር የሰደደ ማህበራዊ፣ ኢኮኖሚያዊና ፖለቲካዊ እንዲሁም የልማትና የመልካም አስተዳደር ችግሮችን በዘላቂነት ለመፍታት በከተማዋ የተለያዩ ዘመናዊ ቀልጣፋና ውጤታማ የፋይናንስ አስተዳደር ስርዓት በመዘርጋትና የከተማ አስተዳደሩን ሀብት በአግባቡ ልማት ላይ እንዲውል በማድረግ ፈጣንና ቀጣይነት ያለው ልማትን ለማረጋገጥ ያላሰለሰ ጥረት እያደረገ ይገኛል፡፡</p>
                        <!-- Move the "Read More" link here -->
                    </div>
                    <div class="about-button btn-lg-f bo-ra-3" style="text-align: right;">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End about content area -->
            <!-- Start what we do area -->
<!-- Start what we do area -->
<section class="what-we-do-area pb-70">
    <div class="container">
        <div class="row">
            <!-- Section Title -->
            <div class="col-md-12">
                <div class="text-left section-title">
                    <h2>የተቋሙ ራዕይ/የተቋሙ ተልዕኮ/እሴቶች</h2>
                </div>
            </div>
            <!-- End Section Title -->

            <!-- Start Mission Card -->
            <div class="col-lg-4 d-flex flex-column" style="height: 285px;">
                <div class="card my-3">
                    <img src="{% static 'img/value.svg' %}" class="card-img-top" alt="Mission Image" style="height: 60px;">
                    <div class="card-body text-center">
                        <h3 class="card-title">የተቋሙ ተልዕኮ</h3>
                        <p class="card-text">የፊስካል ፖሊሲ እና የገቢ ጥናት በማከናወን፣ አሳታፊና ፍትሃዊ የበጀት ድልድል በማድረግ፣ የመንግስትና የሲቪል ማህበረሰብ ድርጅቶች ፕሮጀክቶች አፈጻጸማቸውን ተከታትሎ በመገምገም፣ ዘመናዊ ቀልጣፋና ውጤታማ የፋይናንስ አስተዳደር ስርዓት በመዘርጋትና የአስተዳደሩን ሀብት በአግባቡ በማስተዳደር ፈጣንና ቀጣይነት ያለው ልማት እንዲረጋገጥ ማድረግ።</p>
                    </div>
                </div>
            </div>
            <!-- End Mission Card -->

            <!-- Start Vision Card -->
            <div class="col-lg-4 d-flex flex-column" style="height: 285px;">
                <div class="card my-3">
                    <img src="{% static 'img/vision.svg' %}" class="card-img-top" alt="Vision Image" style="height: 60px;">
                    <div class="card-body text-center">
                        <h3 class="card-title">የተቋሙ ራዕይ</h3>
                        <p class="card-text">በ2022 የከተማዋን ሃብት በብቃት በማስተዳደር ፈጣን፣ ዘላቂና ሁሉን አቀፍ ልማት በማረጋገጥ ከፍተኛ መካከለኛ ገቢ ካላቸው ከተሞች አንዷ ሆና ማየት፤</p>
                    </div>
                </div>
            </div>
            <!-- End Vision Card -->

            <!-- Start Values Card -->
            <div class="col-lg-4 d-flex flex-column" style="height: 285px;">
                <div class="card my-3">
                    <img src="{% static 'img/value.svg' %}" class="card-img-top" alt="Values Image" style="height: 60px;">
                    <div class="card-body text-center">
                        <h3 class="card-title">እሴቶች /Values/</h3>
                        <p class="card-text">1.	ግልፀኝነት
2.	ተጠያቂነት
3.	ፍትሃዊነት
4.	የላቀ አገልግሎት መስጠት
5.	በእውቀት መመራት
6.	ለለውጥ ዝግጁነት
7.	በአሳታፊነትና በቡድን መስራት
8.	ለሀብት ውጤታማነትና ለልማት ስራዎች </p>
                    </div>
                </div>
            </div>
            <!-- End Values Card -->
        </div>
    </div>
</section>
<!-- End what we do area -->
<!-- End finish project -->
<section class="our-volunteers-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <!-- Start section title -->
            <div class="col-sm-12">
                <div class="section-title text-left">
                    <h2>OUR <span>Management Team</span></h2>
                    <img src="img/title-bottom.png" alt="">
                    <p>Meet Our Dedicated Management Team Leading the Way to Success.</p>
                </div>
            </div>
            <!-- End section title -->

            <div class="our-volunteers">
                <!-- Start single volunteer -->
                <div class="col-sm-3">
                    <div class="single-volunteer">
                        <div class="volunteer-image-and-social">
                            <img src="{% static 'img/volunteers/volunteers-one.png' %}" alt="">
                            <div class="volunteer-social">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="volunteer-title text-center">
                            <h5>Ahmad SHide</h5>
                            <p>Secretary</p>
                        </div>
                    </div>
                </div>
                <!-- End single volunteer -->

                <!-- Start single volunteer -->
                <div class="col-sm-3">
                    <div class="single-volunteer">
                        <div class="volunteer-image-and-social">
                            <img src="{% static 'img/volunteers/volunteers-four.jpg' %}" alt="">
                            <div class="volunteer-social">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="volunteer-title text-center">
                            <h5>Eyob tekalegn</h5>
                            <p>Secretary</p>
                        </div>
                    </div>
                </div>
                <!-- End single volunteer -->

                <!-- Start single volunteer -->
                <div class="col-sm-3">
                    <div class="single-volunteer">
                        <div class="volunteer-image-and-social">
                            <img src="{% static 'img/volunteers/volunteers-three.png' %}" alt="">
                            <div class="volunteer-social">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="volunteer-title text-center">
                            <h5>AHmed shide</h5>
                            <p>Secretary</p>
                        </div>
                    </div>
                </div>
                <!-- End single volunteer -->

                <!-- Start single volunteer -->
                <div class="col-sm-3">
                    <div class="single-volunteer">
                        <div class="volunteer-image-and-social">
                            <img src="{% static 'img/volunteers/volunteers-four.jpg' %}" alt="">
                            <div class="volunteer-social">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="volunteer-title text-center">
                            <h5>Ahmed- shide</h5>
                            <p>Secretary</p>
                        </div>
                    </div>
                </div>
                <!-- End single volunteer -->
            </div>
        </div>
    </div>
</section>
<!-- End our volunteers area -->
<!-- Start brand logo area -->
<section class="brand-logo-area pb-90">
    <div class="container">
        <div class="row">
            <!-- Start section title -->
            <div class="col-sm-12">
                <div class="section-title text-left">
                    <h2>OUR <span>Partners</span></h2>
                    <img src="img/title-bottom.png" alt="">
                </div>
            </div>
            <!-- End section title -->
            <!-- Start brand logo -->
            <div class="brand-logo">
                <div class="col-sm-2">
                    <div class="b-logo">
                        <a href=""><img src="{% static 'img/brand-logo/logo-1.jpg' %}" alt="psdrightsell"></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="b-logo">
                        <a href=""><img src="{% static 'img/brand-logo/uk.png' %}" alt="hastech"></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="b-logo">
                        <a href=""><img src="{% static 'img/brand-logo/af.jpg' %}" alt="codecarnival"></a>
                    </div>
                </div>
            </div>
            <!-- End brand logo -->
        </div>
    </div>
</section>
{% endblock %}