{% extends 'base.html' %}
{% load static %}
{% block main %}
           <!-- Start keep in touch area -->
            <section class="keep-in-touch-area pt-90 pb-90">
                <div class="container">
                    <link id="style" href="{% static 'dashboard/libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>Keep In <span>Touch</span></h2>
                                <img src="img/title-bottom.png" alt="">
                                <p>For inquiries regarding financial matters, please reach out to the Addis Ababa Finance Bureau. <br>Contact the Addis Ababa Finance Bureau for assistance with budget allocation and financial planning within the city.</p>
                            </div>
                        </div>
                        <!-- End section title -->
                        <div class="keep-in-touch-therd-box">
                            <!-- Start single box -->
                            <div class="col-sm-4">
                                <div class="single-box text-center">
                                    <i class="fa fa-map" aria-hidden="true"></i>
                                    <h3>ADDRESS</h3>
                                    <p>Wollo Sefer, <br>Addis Ababa<br>Ethiopia</p>
                                </div>
                            </div>
                            <!-- End single box -->
                            <!-- Start single box -->
                            <div class="col-sm-4">
                                <div class="single-box text-center">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <h3>CALL US</h3>
                                    <p>+251 11 155 2015<br>+251 11 155 2015</p>
                                </div>
                            </div>
                            <!-- End single box -->
                            <!-- Start single box -->
                            <div class="col-sm-4">
                                <div class="single-box text-center">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <h3>EMAIL US</h3>
                                    <p>Addis@info.gmail.com <br>Addis@info.gmail.com</p>
                                </div>
                            </div>
                            <!-- End single box -->
                        </div>
                    </div>
                </div>
            </section>
<div class="container">
    <div class="innerwrap">
        <div class="col-sm-12">
            <div class="section-title text-left">
                <h3 style="font-size: 24px;">Our Location</h3>
                <p>Have something to say or want a visit, just drop by</p>
            </div>
        </div>
        <section class="section2 clearfix">
            <div class="col2 column1 first">
                <iframe
                    width="100%"
                    height="400"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3274.724996388625!2d38.76123931516503!3d9.145004492101012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1635555555555555%3A0x70bba4e6e5c780f5!2sAddis%20Ababa%2C%20Ethiopia!5e0!3m2!1sen!2sin!4v1643117899813!5m2!1sen!2sin"
                ></iframe>
            </div>

            <div class="col2 column2 last">
                <div class="sec2contactform text-center" style="margin-top: -30px;"> <!-- Adjust the top margin here -->
                    <div class="contact-info-title" style="margin-top: -30px;"> <!-- Adjust the top margin here -->
                        <h1>Contact Information</h1>
                    </div>
                    <form action="">
                        <div class="clearfix">
                            <input class="col2 first" type="text" placeholder="FirstName">
                            <input class="col2 last" type="text" placeholder="LastName">
                        </div>
                        <div class="clearfix">
                            <input class="col2 first" type="Email" placeholder="Email">
                            <input class="col2 last" type="text" placeholder="Contact Number">
                        </div>
                        <div class="clearfix">
                            <textarea name="textarea" id="" cols="30" rows="7" placeholder="Your message here..."></textarea>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-primary btn-lg mx-auto">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
            <!-- End contact form area -->
            <!-- Start google map -->
            <div class="google-map pb-90">
                <div id="googleMap"></div>
            </div>
            <!-- End google map -->

{% endblock %}