{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="page-title-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>About us</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">About us</li>
                                </ol>
                            </div>
                            <div class="back-home">
                                <a href="index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK TO HOME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start page damy content -->
            <div class="page-damy-content pt-90 pb-90">
                <div class="container">
                    <div class="row">
                          <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>የበጀት ዝግጅትና <span> ድልድል አገልግሎት</span></h2>
                                <img src="img/title-bottom.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p>ማንኛዉም የመስሪያ ቤቱ ተገልጋይ በመጀመሪያ ቅሬታዎችን በቃል ወይም በፅሁፍ አገልግሎቱን በሚሰጠዉ ፈፃሚ ባለሙያ እንዲፈታለት ጥያቄ አቅርቦ ካልተፈታለት ወይም ምላሽ ካላገኘ ለቅርብ ኃላፊዉ ቅሬታዉን ማቅረብ ይችላል፡፡ ሆኖም የቅርብ ኃላፊዉ ለቀረበዉ ቅሬታ አጥጋቢ ምላሽ ካልሰጠዉ በጽ/ቤቱ ወይም በቢሮ የበላይ ኃላፊ ለቀረበዉ ቅሬታ አጥጋቢ ምላሽ ካልተሰጠዉ በጽ/ቤት ወይም በቢሮዉ ለተዋቀረዉ የቅሬታና አቤቱታ ሰሚ ኮሚቴ ቅሬታዉን አቅርቦ ማስፈታት ይችላል፤ በዚህም ያልረካ ተገልጋይ ጉዳዩን በየደረጃው ለሚገኘዉ የህዝብ ቅሬታና አቤቱታ ሰሚ ማቅረብ ይችላል የሚመለከተውም አካል አጣርቶ ምላሽ ይሰጣል፡፡ በመጨረሻ እነዚህን ደረጃዎችን ተከትሎ በተሰጠው ውሳኔ ደስተኛ እንዲጠቀሙበት ፍርድ ቤት፣ ሕዝብ እምባ ጠባቂ፣ ሰብዓዊ መብትና ሚዲያ ማቅረብ ይችላል።</p>
                        </div>

                        <div class="col-sm-4">
    <ul>
        <li>የመንግስት የግዢና ንብረት ማስወገድ አገልግሎትን ያስተባብራል፤ በበላይነት ይመራል፤ ይቆጣጠራል፤</li>
        <li>በከተማው አስተዳደር አካላት ተዘጋጅቶ የሚቀርብለትን የበጀት ጥያቄ እና የክፍለ ከተሞችን የበጀት ድልድል መርምሮ የተጠቃለለ ዓመታዊ በጀት በማዘጋጀት ያቀርባል፤ ሲፀድቅም በህግ መሰረት ያስተዳድራል፤</li>
        <li>የፊሲካል ፖሊሲ ያጠናል፤ እንዲጠና ያደርጋል፤ ውጤቱንም ለሚመለከተው አካል ያቀርባል፤</li>
        <li>ባልተማከለ የበጀት አስተዳደር ሥርዓት መሠረት የክፍለ ከተሞችን የበጀት ድልድል ቀመር አዘጋጅቶ ያቀርባል፤ ሲፀድቅም ተግባራዊ ያደርጋል፤ ለክፍለ ከተሞች የሚሰጠውን የበጀት ድጎማ በትክክል ሥራ ላይ መዋሉን ይከታተላል፤</li>
        <li>በገቢዎች ቢሮ የሚሰበሰበውን፣ በብድርና በእርዳታ የሚገኝ ገቢ እና ሌሎች ልዩ ልዩ ገቢዎችን ያስተዳድራል፤ በአግባቡ ስራ ላይ መዋላቸውን ያረጋግጣል፤</li>
    </ul>
</div>

                        <div class="col-sm-4">
    <ol>
        <li>የግብር እና የማዘጋጃ ቤታዊ ገቢ የታሪፍ ማሻሻያ እንዲሁም አዳዲስ የገቢ ምንጭ ጥናት በማዘጋጀት እና/ወይም እንዲዘጋጅ በማድረግ የውሳኔ ሃሳብ ያቀርባል፤ ሲፀድቅ ተግባራዊነቱን ይከታተላል፤</li>
        <li>አግባብ ባለው ሕግ መሠረት ከሀገር ውስጥ ምንጮች በከተማ አስተዳደሩ ስም ይበደራል፤</li>
        <li>የቴክኒክ፣ የማቴሪያልና የገንዘብ ድጋፍ ከዕርዳታ ሰጪ አገሮች ወይም ከተሞች እና ድርጅቶች ያፈላልጋል፤ ያስተባብራል ውል ይፈርማል አፈጻጸሙን ይከታተላል፤</li>
        <li>የከተማውን የሂሳብ አያያዝ ሥርዓት፤ የክፍያና የውስጥ ኦዲት ሥርዓት ይዘረጋል፤ የአፈጻጸሙን ውጤታማነት ይከታተላል፤ አለም አቀፍ ደረጃውን የጠበቀ መሆኑን ያረጋግጣል፤</li>
        <li>ለመንግስት መስሪያ ቤቶች የሂሳብና ገቢ ደረሰኞች፣ ቅጻቅፆች፣ መዛግብቶች ያሳትማል፤ እንዲታተም ያደርጋል፤</li>
        <li>ለካፒታል ፕሮጀክቶች የተመደበውን በጀት በአግባቡ መፈጸሙን ይከታተላል፤ ይገመግማል፤</li>
        <li>ከከተማው አጠቃላይ ሃብት ጋር የተጣጣመ የመካከለኛ ዘመን የወጪ ማዕቀፍ በማዘጋጀት ያቀርባል፤ ሲፀድቅም ተግባራዊ ያደርጋል፤</li>
        <li>መንግስታዊ ያልሆኑ ድርጅቶች የሚያቀርቧቸው ፕሮጀክቶችን ተቀብሎ ከሚመለከታቸው ጋር በመሆን ያበለጽጋል፤ ያፀድቃል፤ ውል ይፈራረማል፤ ድጋፍ ይሰጣል፤ አፈጻጸሙን ይከታተላል፤ ይቆጣጠራል፤</li>
    </ol>
</div>


                    </div>
                </div>
            </div>
            <!-- End page damy content -->
            <!-- Start brand logo area -->
            <section class="brand-logo-area pb-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>OUR <span>SPONSORS</span></h2>
                                <img src="img/title-bottom.png" alt="">
                            </div>
                        </div>
                        <!-- End section title -->
                        <!-- Start brand logo -->
                        <div class="brand-logo">

                        </div>
                        <!-- End brand logo -->
                    </div>
                </div>
            </section>
{% endblock %}