{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="section-title text-center">
                <img src="{% static 'img/title-bottom.png' %}" alt="">
                <h2>የቢሮው ዋና ዋና <span> እና ዝርዝር አገልግሎቶች</span></h2>
                <p>የቢሮው ዋና ዋና እና ዝርዝር አገልግሎቶች</p>
            </div>
        </div>
    </div>
</div>
</div>
<section class="about section-padding pt-80 pb-80" id="about">
    <div class="container">

<div id="leftsideMenu" style="float: left; width: 50%;">
  <ul style="list-style-type: none;">
    <li><a href="{% url 'directories_detail' %}">የበጀት ዝግጅትና ድልድል አገልግሎት</a>
      <ul>
        <li><a href="{% url 'directories_detail' %}">የበጀት አስተዳደር አገልግሎት</a></li>
        <li><a href="{% url 'directories_detail' %}">የክፍያ አገልግሎት</a></li>
      </ul>
    </li>
    <li><a href="{% url 'directories_detail' %}">መንግስት አመነ ማህበረሰብ አገልግሎት</a>
      <ul>
        <li><a href="{% url 'directories_detail' %}">ለ ባለ በጀት መ/ቤቶች የባንክ ሂሳብ መክፈት አገልግሎት</a></li>
      </ul>
    </li>
    <li><a href="{% url 'directories_detail' %}">ስለ መንግስት የግዢ ቅሬታ አቤቱታ ማስተናገድ አገልግሎት</a></li>
    <li><a href="{% url 'directories_detail' %}">መንግስት እትም እና አደራጅ ድርጅቶች አገልግሎት</a></li>
    <li><a href="{% url 'directories_detail' %}">የኦዲት አገልግሎት</a></li>
    <li><a href="{% url 'directories_detail' %}">የሙያ ድጋፍ፣ ክትትልና ግምገማ አገልግሎት</a></li>
  </ul>
</div>
<div id="rightsideMenu" style="float: right; width: 50%; text-align: left;">
  <ul style="list-style-type: none;">
    <li><a href="{% url 'directories_detail' %}">የመረጃ አገልግሎት</a></li>
    <li><a href="{% url 'directories_detail' %}">የገቢ ማበልፀግና የታሪፍ ማሻሻያ ጥናት አገልግሎት</a></li>
    <li><a href="{% url 'directories_detail' %}">የመንግስት የልማት ድርጅቶች የፈንድ አስተዳዳር አገልግሎት</a></li>
    <li><a href="{% url 'directories_detail' %}">የስልጠናና እና አቅም ግንባታ አገልግሎት</a></li>
    <li><a href="{% url 'directories_detail' %}">የገቢ መቀበልና ተመላሽ አገልግሎት</a></li>
    <li><a href="{% url 'directories_detail' %}">የህትመት ክትትልና ስርጭት አገልግሎት</a></li>
    <li><a href="{% url 'directories_detail' %}">የበጎ አድራጎት ድርጅቶችን/ የሲቪል ማህበረሰብ  ፕሮጀክት ማብልፀግና ማሻሻል አገልግሎት</a></li>
  </ul>
</div>




            </div>
        </div>
    </div>
</section>
{% endblock %}