{% load dashboard_filters %}
{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MOFED</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @media only screen and (max-width: 768px) {
            .main-area header .header-top {
                display: none;
            }
        }
    </style>
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link rel="stylesheet" href="{% static 'doc.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'news/front/css/util.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/util.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vacancy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.8.0/dist/mdb.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'news/front/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contact/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contact/FAQ.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contact/FAQ.js' %}">
</head>
<body style="overflow-x: hidden;">
    <div class="main-area">
        <header>
            <div class="header-top" style="background-color: #3655b3; margin-right: -150px; @media (max-width: 768px) { margin-right: 0; }">
                <div class="row" style="margin-right: 150px;">
                    <div class="col-sm-5 col-md-6">
                        <div class="top-social text-end">
                            <nav>
                                <ul>
                                    <li style="margin-left: 20px;"><a href="#">Addis Ababa Bureau of Finance</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-6">
                        <div class="call-to-action">
                            <nav>
                                <ul style="margin-right: 65px;">
                                    <li><a href="addisfinance@Bofed.com.et"><i class="fa fa-envelope" aria-hidden="true"></i> Email: financeaddis@financeaddis.com.et</a></li>
                                    <li><a href="tel:+5881234567"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +25111987654</a></li>
                                    <li>
                                        <a href="">EN <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul style="margin-right: 65px;">
                                            <li><a href="#">ENGLISH</a></li>
                                            <li><a href="#">Oromo</a></li>
                                            <li><a href="#"></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

    <div class="main-menu-area" id="sticker">
    <div class="row">
        <div class="col-sm-3 col-xs-12 ml-0">
            <div class="logo ptb-32" style="margin-top: -20px;">
                <a href="index.html">
                    <img src="{% static 'img/logo-addis.jpg' %}" alt="" style="width: 90px; height: 70px;">
                </a>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12">
            <div class="main-menu">
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'blog_list' %}">Blogs</a></li>
                        <li>
                            <a href="/about_us/about_us/">About Us</a>
                            <ul class="drop-menu" style="margin-top: -10px;">
                                <li><a href="/about_us/about_us/">About us</a></li>
                                <li><a href="{% url 'our_structure' %}">Our structure</a></li>
                                <li><a href="{% url 'our_directories' %}">Our Directorates</a></li>
                                <li><a href="/about_us/contact_us/">Contact_us</a></li>
                            </ul>
                        </li>
                        <style>
                            .single-mega-item a {
                                display: flex;
                                align-items: center;
                            }

                            .single-mega-item img {
                                width: 10px;
                                /* Adjust the size as needed */
                                height: 16px;
                                /* Adjust the size as needed */
                                margin-right: 5px;
                                /* Adjust the spacing between icon and text */
                            }
                        </style>
                        <li class="mega-menu"><a href="{% url 'doc_view' %}">Resources</a>
                            <ul class="drop-menu" style="margin-top: -20px;">
                                <li><a href="{% url 'doc_view' %}">Documents</a></li>
                                <li><a href="{% url 'gallarie_all' %}">Gallaries</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'Projects' %}">Projects</a></li>
                        <li>
                            <a href="#">Announcements</a>
                            <ul class="drop-menu" style="margin-top: -10px;">
                                <li><a href="{% url 'vacancy_board' %}">Vacancies</a></li>
                                <li><a href="{% url 'events' %}">Events</a></li>
                            </ul>
                        </li>
                        <li class="mega-menu">
                            <a href="{% url 'news_article_list' %}">New</a>
                            <div class="mega-menu-area" style="margin-top: -20px;">
                                <ul class="single-mega-item">

        <li class="latest-news">
            <a href="#">Latest</a>
            <div class="news-slider swiper-container">
                <div class="swiper-wrapper">
                   {% for article in news_articles %}
            <div class="col-sm-4">
                <div class="single-blog mb-30">
                    <div class="blo-image-and-date">
                        <img src="{{ article.featured_image.url }}" alt="{{ article.title }}">
                    </div>
                    <div class="blog-text">
                        <h3><a href="#">{{ article.title }}</a></h3>
                        <p>{{ article.content|slice:":200" }}</p>
                        <a href="#" class="read-more">Read More...</a>
                    </div>
                    <div class="blog-date">
                        <p>{{ article.created_at|date:"M d, Y" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
                </div>
            </div>
        </li>
    </ul>
</div>
 </li>
                            <li class="mega-menu"><a href="#">Privacy</a>
                                <div class="mega-menu-area">
                                    <ul class="single-mega-item">
                                        <li class="shortcode-title">Privacy and Policy</li>
                                        <li><a href="/dashboard/privacy/">Terms & Conditions</a></li>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
<div class="donate-button ptb-32" style="margin-top: 0px; ">
    <a class="waves-effect waves-light" href="/accounts/login-staff/">Login</a>
</div>
            </div>
        </div>
    </div>
    </div>
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="nav">
                            <li><a href="{% url 'home' %}">Home</a>
                            <li><a href="{% url 'blog_list' %}">Blogs</a>
                            </li>
                            <li class="mega-menu"><a href="/about_us/about_us/">About</a>
                                <div class="mega-menu-area">
                                    <ul class="single-mega-item">
                                        <li><a href="/about_us/about_us/">About us</a></li>
                                        <li><a href="{% url 'our_structure' %}">Our structure</a></li>
                                        <li><a href="{% url 'our_directories' %}">Our Directorates</a></li>
                                        <li><a href="/about_us/contact_us/">Contact us</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="{% url 'doc_view' %}">Resources</a>
                                <ul>
                                    
                                    <li><a href="{% url 'doc_view' %}">Documents</a></li>
                                    <li><a href="{% url 'gallarie_all' %}">Gallaries</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Announcements</a>
                             <ul>
                                    
                                    <li><a href="{% url 'vacancy_board' %}">Vacancy</a></li>
                                    <li><a href="{% url 'events' %}">Events</a>
                                    </li>
                            </ul>
                        </li>
                    <li><a href="{% url 'news_article_list' %}">News</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Privacy</a></li>
                        
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </header>
    {% block main %}
    {% endblock %}
    <footer class="blue-footer">
        <div class="footer-top pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <style>
                        .footer-widget-title h3 {
                            margin-top: 20px;
                            /* Adjust the margin-top value as needed */
                        }
                    </style>
                    <div class="footer-widget-area">
                        <!-- Start footer widget -->
                        <div class="col-sm-4">
                            <div class="footer-widget widget-one">
                                <div class="footer-widget-title">
                                    <h3>ABOUT US</h3>
                                </div>
                                <div class="widget-about-content">
                                    <p>As the  of finance office Addis, we have.</p>
                                </div>
                                <div class="widget-contact-content">
                                    <h3>CONTACT US</h3>
                                    <a href="tel:+0012345678">Phone : +25193770524987</a>
                                    <a href="mailto:info@granttheme.com">Email : Addis@gmail.com</a>
                                    <p>Address : Ethio-China, Addis Ababa.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="footer-widget widget-two">
                                <div class="footer-widget-title">
                                    <h3>OUR PROJECTs</h3>
                                </div>
                                <nav>
                                    <ul>
                                        <li><a href="#">Project1</a></li>
                                        <li><a href="#">Project2</a></li>
                                        <li><a href="#">Project3</a></li>
                                        <li><a href="#">Project4</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="footer-widget widget-two">
                                <div class="footer-widget-title">
                                    <h3>QUICK LINK</h3>
                                </div>
                                <nav>
                                    <ul>
                                        <li><a href="#">Vacancy's</a></li>
                                        <li><a href="#">Terms of use</a></li>
                                        <li><a href="#">Legal disclaimer</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-widget widget-four">
                                <div class="footer-widget-title">
                                    <h3>NEWSLETTER</h3>
                                </div>
                                <div class="widget-about-content">
                                    <p>Subscribe to our newsletter, enter your email address, and click "Subscribe"</p>
                                </div>
                                <div class="newslater">
                                    <form id="mc-form" class="mc-form form">
                                        <input id="mc-email" type="email" autocomplete="off"
                                            placeholder="Email Address">
                                        <button id="mc-submit" type="submit"><i class="fa fa-envelope"
                                                aria-hidden="true"></i></button>
                                    </form>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts text-centre">
                                        <div class="mailchimp-submitting"></div>
                                        < <div class="mailchimp-success">
                                    </div>
                                    <div class="mailchimp-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="copyright">
                            <p>All right reserved. Design Kanenus<a href="#">Technologies</a></p>
                        </div>
                    </div>

                </div>
                <div class="hidden-xs" id="back-top" style="display: block;"></div>
            </div>
        </div>
    </footer>
    </div>
    <script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.nivo.slider.pack.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'js/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script>
        new WOW().init();
    </script>
    <script src="{% static 'js/styleswitch.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/jquery.style.switcher.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/jquery.mb.YTPlayer.min.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/theia-sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'news/assets/js/vendor/resize-sensor.min.js' %}"></script>
    <script src="{% static 'news/assets/js/app.js' %}"></script>
    <script src="{% static 'news/front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'news/front/vendor/animsition/js/animsition.min.js' %}"></script>
    <script src="{% static 'news/front/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'news/front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'news/front/js/main.js' %}"></script>
</body>

</html>