<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Gallery Image</title>
</head>
<body>
    <h2>Delete Gallery Image</h2>
    <p>Are you sure you want to delete the gallery image "{{ image.title }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>

    <a href="{% url 'gallery_images_list' %}">Cancel</a>
</body>
</html>
