{% extends 'back/master.html' %}
{% load static %}
{% block mainblock %}
<!-- Footer Content Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-wrench"></i>Edit Footer Content<br><small>You can update the content for different sections of the footer!</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Footer</li>
    <li><a href="{% url 'add_footer_api' %}">Edit</a></li>
</ul>
<!-- END Footer Content Header -->
<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <div class="block-title">
                <h2><strong>Edit</strong> Footer Content</h2>
            </div>
            <!-- END Form Elements Title -->

            <!-- Basic Form Elements Content -->
            <form action="{% url 'add_footer_api' %}" method="post" class="form-horizontal form-bordered">
                {% csrf_token %}
                <div class="form-group">
                    <label for="about_us_content" class="col-md-2 control-label">About Us Content:</label>
                    <div class="col-md-10">
                        <textarea id="about_us_content" name="about_us_content" class="form-control" rows="5">{{ footer.about_us_content }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="contact_info" class="col-md-2 control-label">Contact Information:</label>
                    <div class="col-md-10">
                        <textarea id="contact_info" name="contact_info" class="form-control" rows="5">{{ footer.contact_info }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="projects_links" class="col-md-2 control-label">Projects Links:</label>
                    <div class="col-md-10">
                        <textarea id="projects_links" name="projects_links" class="form-control" rows="5">{{ footer.projects_links }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="quick_links" class="col-md-2 control-label">Quick Links:</label>
                    <div class="col-md-10">
                        <textarea id="quick_links" name="quick_links" class="form-control" rows="5">{{ footer.quick_links }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newsletter_content" class="col-md-2 control-label">Newsletter Content:</label>
                    <div class="col-md-10">
                        <textarea id="newsletter_content" name="newsletter_content" class="form-control" rows="5">{{ footer.newsletter_content }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="copyright_text" class="col-md-2 control-label">Copyright Text:</label>
                    <div class="col-md-10">
                        <input type="text" id="copyright_text" name="copyright_text" class="form-control" value="{{ footer.copyright_text }}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footerblock %}
<script src="{% static 'back/js/pages/your_js_file.js' %}"></script>
<script>$(function(){ YourJSFile.init(); });</script>
{% endblock %}
