{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- Add title and subtitle -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-top: 30px; margin-bottom: 10px; font-size: 16px; font-weight: bold;">Galleries</h1>

            <h4 style="margin-bottom: 20px;">Explore our collection of images</h4>
        </div>
    </div>
</div>
<section class="blog-area pt-20 pb-30" style="margin-top: -20px; position: relative; margin-left: -120px; margin-right: -120px; background-image: url('{% static 'img/about/bg-10.jpg' %}'); background-size: contain;">
    <div class="container" style="margin-top: 25px;">
        <div class="gallery-area">
            <div class="row">
                {% for image in gallery_images %}
                <div class="col-md-4">
                    <div class="single-gallery mb-30">
                        <div class="gallery-image-and-text">
                            <img class="img-responsive" src="{{ image.image.url }}" alt="{{ image.title }}" style="width: calc(100% - 0px); height: calc(100% - 15px);" />
                            <a class="image-link text-center" href="{{ image.image.url }}">
                                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                <p>{{ image.title }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
