{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="slider-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="flexslider ma-nivoslider">
                    <div class="ma-loading"></div>
                    <div id="ma-inivoslider-banner7" class="slides">
                        <!-- Iterate over slider_data to dynamically load slider images and captions -->
                        {% for slide in slider_data %}
                        <img style="display: none;" src="{{ slide.image.url }}" alt="" title="#banner7-caption{{ forloop.counter }}" />
                        {% endfor %}
                    </div>
                    <div class="ma-banner7-container">
                        <div class="container-slider">
                            <!-- Iterate over slider_data to dynamically load banner captions -->
                            {% for slide in slider_data %}
                            <div id="banner7-caption{{ forloop.counter }}" class="banner7-caption nivo-html-caption nivo-caption">
                                <div class="timethai"></div>
                                <div class="banner7-content slider-1">
                                    <!-- Apply responsive classes directly to HTML elements -->
                                    <h1 class="title1 wow slideInRight text-center text-md-left" style="font-size: 24px;">{{ slide.title }}</h1>
                                    <p class="wow slideInRight text-center text-md-left" style="font-size: 16px;">{{ slide.subtitle }}</p>
                                    <div class="slider-button-area wow slideInRight text-center text-md-left">
                                        <a href="#" class="btn-lg">{{ slide.button_text }}</a>
                                        <!-- Add other button as needed -->
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 767px) {
    .banner7-content h1 {
        font-size: 10px; /* Adjust font size for smaller screens */
    }
    .banner7-content p {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
</style>

<section class="about section-padding pt-15 pb-80" style="background-color: #eeeee4;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="section-title text-left mb-4">
                    <h3 style="font-size: 24px;">About Us</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 about-img mb-4">
                <img alt="" class="img-fluid" src="{% static 'img/adanech.jpg' %}">
            </div>
            <div class="col-lg-8 col-md-12 col-12 about-text">
                <p><strong>{{ about_us_data.subtitle }}</strong></p>
                <p>{{ about_us_data.content|safe|linebreaksbr }}</p>
                <div class="d-flex justify-content-end align-items-center">
                    <p style="color: green;">{{ about_us_data.title }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-blog-area pt-90 pb-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-9">
                <div class="section-title text-left">
                    <h3 style="font-size: 24px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">News</h3>
                    <p>Recent News From Addis Ababa Finance Office</p>
                </div>
            </div>
            <div class="col-sm-3 text-end d-none d-sm-block" style="margin-top: -10px;">
                <div class="d-flex justify-content-end">
                    <a href="{% url 'doc_view' %}" class="btn btn-primary">See All News</a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for news_item in all_news %}
            <div class="col-sm-4">
                <div class="single-blog mb-30" style="background-color: #ffffff; padding: 20px;">
                    <div class="blo-image-and-date">
                        <img src="{{ news_item.featured_image.url }}" alt="{{ news_item.title }}" style="width: 100%; height: auto; object-fit: cover;">
                    </div>
                    <div class="blog-text">
                        <h3><a href="{% url 'news_detail' news_id=news_item.pk %}" style="font-size: 20px;">{{ news_item.title }}</a></h3>
                        <p style="font-size: 14px;">{{ news_item.content|slice:":200" }}</p>
                        <!-- Assuming 'category' is a valid field -->
                        <p style="font-size: 14px;">Category: {{ news_item.category }}</p>
                        <!-- Add other fields as needed -->
                        <a href="{% url 'news_detail' news_id=news_item.pk %}" class="read-more" style="font-size: 14px; color: blue; text-decoration: none;">Read More...</a>
                    </div>
                    <div class="blog-date">
                        <p style="font-size: 14px;">{{ news_item.created_at|date:"M d, Y" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-sm-12 d-block d-sm-none text-center mt-3">
                <a href="{% url 'doc_view' %}" class="btn btn-primary">See All News</a>
            </div>
        </div>
    </div>
</section>



            <div class="col-12 mt-2 text-center"> <!-- Adjust the margin-top value -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm justify-content-center">
                        <!-- Use pagination-sm for smaller size -->
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <!-- Add more page links as needed -->
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- /* documents section is here */ -->


<section class="blog-area pt-20 pb-30" style="background-color: #eeeee4;">
    <div class="container">
        <div class="gallery-area">
            <div class="row">
                <div class="col-sm-12">
                    <div class="gallery-menu text-left">
                        <div class="section-title text-left">
                            <h3 style="font-size: 24px;">Galleries</h3>
                            <a href="{% url 'gallarie_all' %}" class="d-none d-sm-flex justify-content-end" style="margin-right: 10px;">See All Galleries</a>
                            <p class="d-none d-sm-block">You can find all the Galleries in this section</p>
                        </div>
                        <nav class="d-none d-sm-block">
                            <ul class="d-none d-sm-flex">
                                {% for category in distinct_categories %}
                                <li class="filter" data-filter="{{ category }}">
                                    <button type="button" class="btn btn-outline-secondary btn-block">{{ category }}</button>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide d-sm-none" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in gallery_images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="d-block w-100" src="{{ image.image.url }}" alt="{{ image.title }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div id="gallery-filter" class="row d-none d-sm-flex">
                {% for image in gallery_images %}
                <div class="col-sm-4 mb-30 single-gallery mix all {{ image.category }}">
                    <div class="gallery-image-and-text">
                        <img class="img-responsive" src="{{ image.image.url }}" alt="{{ image.title }}" />
                        <a class="image-link text-center" href="{{ image.image.url }}">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                            <p>{{ image.title }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<style>
    /* Adjustments for smaller screens */
    @media only screen and (max-width: 767px) {
        .section2 .col2 {
            width: 100%;
            margin-bottom: 20px; /* Adjust margin-bottom as needed */
        }
        .sec2contactform {
            margin-top: 20px; /* Adjust margin-top as needed */
        }
        .contact-info-title {
            margin-top: 30px; /* Add top margin for spacing */
            margin-bottom: 20px; /* Adjust margin-bottom as needed */
        }
        .sec2contactform form input[type="text"],
        .sec2contactform form input[type="email"],
        .sec2contactform form textarea {
            width: 100%;
            margin-bottom: 10px; /* Adjust margin-bottom as needed */
        }
        .sec2contactform form button {
            width: 100%;
        }
    }
</style>

<div class="container" >
    <div class="innerwrap">
        <div class="col-sm-12">
            <div class="section-title text-left">
                <h3 style="font-size: 24px;">Our Location</h3>
                <p>Have something to say or want a visit, just drop by</p>
            </div>
        </div>
        <section class="section2 clearfix">
            <div class="col2 column1 first">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3274.724996388625!2d38.76123931516503!3d9.145004492101012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1635555555555555%3A0x70bba4e6e5c780f5!2sAddis%20Ababa%2C%20Ethiopia!5e0!3m2!1sen!2sin!4v1643117899813!5m2!1sen!2sin"></iframe>
            </div>

            <div class="col2 column2 last">
                <div class="sec2contactform text-center">
                    <div class="contact-info-title">
                        <h1>Contact Information</h1>
                    </div>
                    <form action="">
                        <div class="clearfix">
                            <input class="col2 first" type="text" placeholder="First Name">
                            <input class="col2 last" type="text" placeholder="Last Name">
                        </div>
                        <div class="clearfix">
                            <input class="col2 first" type="email" placeholder="Email">
                            <input class="col2 last" type="text" placeholder="Contact Number">
                        </div>
                        <div class="clearfix">
                            <textarea name="textarea" id="" cols="30" rows="7" placeholder="Your message here..."></textarea>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-primary btn-lg mx-auto">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>


<style>
    .faq-item {
        border: 1px solid rgba(0, 0, 0, 0.1); /* Transparent border */
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .faq-toggle-icon {
        font-size: 18px;
    }
</style>

<section class="brand-logo-area pb-90" style="margin-top: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title text-left">
                    <h3 style="font-size: 24px;">FAQ's</h3>
                    <p>Here are the answers for some of our frequently asked questions</p>
                </div>
            </div>
        </div>
        <div class="container" id="faq-container">
            <!-- JavaScript will dynamically populate this section with FAQs -->
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch('/dashboard/api/faqs/')  // Update the URL to match your actual API endpoint
            .then(response => response.json())
            .then(data => {
                const faqs = data.faqs;
                const faqContainer = document.getElementById('faq-container');

                faqs.forEach(faq => {
                    const faqItem = document.createElement('div');
                    faqItem.className = 'faq-item';
                    faqItem.innerHTML = `
                        <div class="faq-question">
                            <strong style="font-size: 18px; cursor: pointer;">${faq.question}</strong>
                            <span class="faq-toggle-icon">+</span>
                        </div>
                        <p class="faq-answer" style="display: none;">${faq.answer}</p>
                    `;
                    faqItem.addEventListener('click', function () {
                        togglePanel(this);
                    });

                    faqContainer.appendChild(faqItem);
                });
            })
            .catch(error => console.error('Error fetching FAQs:', error));
    });

    function togglePanel(faqItem) {
        const answerParagraph = faqItem.querySelector('.faq-answer');
        const toggleIcon = faqItem.querySelector('.faq-toggle-icon');

        if (answerParagraph.style.display === 'none') {
            answerParagraph.style.display = 'block';
            toggleIcon.innerHTML = '-'; // Plus sign
        } else {
            answerParagraph.style.display = 'none';
            toggleIcon.innerHTML = '+'; // Plus sign
        }
    }
</script>


{% endblock %}