{% extends 'back/master.html' %}

{% load static %}

{% block mainblock %}
<!-- Sliders Content Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-sliders"></i>Edit Sliders<br><small>You can add, edit, and manage your sliders!</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Sliders</li>
    <li><a href="/panel/sliders/edit">Edit</a></li>
</ul>
<!-- END Sliders Content Header -->


<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <div class="block-title">
                <h2><strong>Edit</strong> Slider</h2>
            </div>
            <!-- END Form Elements Title -->

            <!-- Basic Form Elements Content -->
            <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title" class="col-md-2 control-label">Title:</label>
                    <div class="col-md-10">
                        <input type="text" id="title" name="title" class="form-control" value="{{ slider.title }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="subtitle" class="col-md-2 control-label">Subtitle:</label>
                    <div class="col-md-10">
                        <input type="text" id="subtitle" name="subtitle" class="form-control" value="{{ slider.subtitle }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="content" class="col-md-2 control-label">Content:</label>
                    <div class="col-md-10">
                        <textarea id="content" name="content" class="form-control" rows="5">{{ slider.content }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="button_text" class="col-md-2 control-label">Button Text:</label>
                    <div class="col-md-10">
                        <input type="text" id="button_text" name="button_text" class="form-control" value="{{ slider.button_text }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="image">Image:</label>
                    <div class="col-md-10">
                        <input type="file" id="image" name="image" accept="image/*" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="order" class="col-md-2 control-label">Order:</label>
                    <div class="col-md-10">
                        <input type="number" id="order" name="order" class="form-control" value="{{ slider.order }}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save Changes</button>
                    </div>
                </div>
            </form>
            <!-- END Basic Form Elements Content -->
        </div>
        <!-- END Basic Form Elements Block -->
    </div>
</div>

{% endblock %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/your_js_file.js' %}"></script>
<script>$(function(){ YourJSFile.init(); });</script>
{% endblock %}
