
<!-- update_faq.html -->
{% extends 'base_new_admin.html' %}
{% load static %}

{% block main %}
    <div class="main-content app-content">
        <div class="container-fluid">

            <!-- Page Header -->
            <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                <h1 class="page-title fw-semibold fs-18 mb-0">Update FAQ</h1>
                <div class="ms-md-1 ms-0">
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'faq_list' %}">FAQs</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Page Header Close -->

            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Update FAQ
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="question" class="form-label">Question</label>
                                <input type="text" id="question" name="question" class="form-control" value="{{ form.question.value }}">
                            </div>
                            <div class="form-group">
                                <label for="answer" class="form-label">Answer</label>
                                <textarea id="answer" name="answer" class="form-control">{{ form.answer.value }}</textarea>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Update</button>
                                <a href="{% url 'faq_list' %}" class="btn btn-sm btn-secondary"><i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End::app-content -->
{% endblock %}