{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="post-wrap-layout16 space-top-50 bg-color-light-1 transition-default">
    <div class="container">
        <div class="section-heading heading-style-5">
            <h2 class="title">Top Stories</h2>
        </div>
        <div class="row g-3">
            <div class="col-lg-7">
                {% for article in top_stories %}
                    <div class="animated-border border-style-large transition-default">
                        <div class="animation-child post-box-layout18 box-border-dark-2 radius-default padding-20 bg-color-light-1 transition-default">
                            <div class="figure-holder radius-default">
                                <!-- Featured Image -->
                                <a href="#">
                                    <img width="670" height="478" src="{{ article.featured_image.url }}" alt="{{ article.title }}">
                                </a>
                            </div>
                            <div class="content-holder">
                                <!-- Article Title -->
                                <h3 class="entry-title color-dark-1 h3-regular underline-animation">
                                    {{ article.title }}
                                </h3>
                                <!-- Truncated Article Content -->
                                <p class="entry-description color-dark-1">{{ article.content|truncatechars:200 }}</p>
                                <!-- Article Meta Information -->
                                <ul class="entry-meta color-dark-2">
                                    <!-- Minutes Read and Likes -->
                                    <li>
                                        <i class="regular-clock-circle"></i>{{ article.minutes_read }} min read
                                    </li>
                                    <li>
                                        <i class="regular-eye"></i>{{ article.likes }} likes
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- ... -->
        </div>
    </div>
</section>
<!-- Recent Articles Section -->
<section class="post-wrap-layout17 space-top-50 bg-color-light-1 transition-default">
    <div class="container">
        <div class="section-heading heading-style-5">
            <h2 class="title">Recent Articles</h2>
        </div>
        <div class="row g-3">
            <!-- Loop for Top 3 News from recent_stories -->
            {% for story in recent_stories|slice:":3" %}
            <div class="col-lg-4">
                <div class="multi-posts-layout5 bg-color-light-1 box-border-dark-2 radius-default">
                    <div class="post-box">
                        <div class="figure-holder radius-medium radius-top-left radius-top-right">
                            <a href="#" class="link-wrap figure-overlay img-height-100">
                                <img width="700" height="700" src="{{ story.featured_image.url }}" alt="{{ story.title }}">
                            </a>
                        </div>
                        <div class="content-holder">
                            <h3 class="entry-title h3-regular color-light-1-fixed underline-animation">
                                <a href="#">{{ story.title }}</a>
                            </h3>
                            <ul class="entry-meta color-light-1-fixed">
                                <li class="post-author">
                                    {{ story.author }}
                                </li>
                                <li>
                                    <i class="regular-clock-circle"></i>{{ story.minutes_read }} min read
                                </li>
                                <li>
                                    <i class="regular-eye"></i>{{ story.likes }}k
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="post-wrap-layout18 space-top-50 bg-color-light-1 transition-default">
            <div class="container">
                <div class="section-heading heading-style-5">
                    <h2 class="title">Recent Articles</h2>
                </div>
                <div class="row sticky-coloum-wrap">
                    <div class="col-lg-8 sticky-coloum-item">
                        <div class="row g-3 pe-lg-4">
                            <div class="col-12">
                                <div class="h-100 animated-border border-style-medium transition-default">
                                    <div class="animation-child post-box-layout9 box-border-dark-2 figure-scale-animation radius-default padding-20 bg-color-light-1 transition-default">
                                        <div class="figure-holder radius-default">
                                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="{% static  'news/assets/media/blog/post71.png' %}" alt="Post"></a>
                                        </div>
                                        <div class="content-holder">
                                            <div>
                                                <div class="entry-category style-2 color-dark-2">
                                                    <ul>
                                                        <li>
                                                            <a href="archive-layout1.html">HEALTH</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Reality Hosting, The Use Computer Modeling</a></h3>
                                                <p class="entry-description color-dark-1">Nam eget lorem mattis, consequat felis quis, luctus augue. Aenean ac iaculis enim.</p>
                                                <ul class="entry-meta color-dark-2">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            <img src="{% static  'news/assets/media/blog/profile1.webp' %}" alt="Author">
                                                            Ashley Graham
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>5 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="h-100 animated-border border-style-medium transition-default">
                                    <div class="animation-child post-box-layout9 box-border-dark-2 figure-scale-animation radius-default padding-20 bg-color-light-1 transition-default">
                                        <div class="figure-holder radius-default">
                                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="{% static  'news/assets/media/blog/post72.png' %}" alt="Post"></a>
                                        </div>
                                        <div class="content-holder">
                                            <div>
                                                <div class="entry-category style-2 color-dark-2">
                                                    <ul>
                                                        <li>
                                                            <a href="archive-layout1.html">FOOD</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Virtual Reality (VR), The Use Computer Modeling</a></h3>
                                                <p class="entry-description color-dark-1">Nam eget lorem mattis, consequat felis quis, luctus augue. Aenean ac iaculis enim.</p>
                                                <ul class="entry-meta color-dark-2">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            <img src="{% static  'news/assets/media/blog/profile2.webp' %}" alt="Author">
                                                            Sergio Pliego
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>3 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="h-100 animated-border border-style-medium transition-default">
                                    <div class="animation-child post-box-layout9 box-border-dark-2 figure-scale-animation radius-default padding-20 bg-color-light-1 transition-default">
                                        <div class="figure-holder radius-default">
                                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="{% static  'news/assets/media/blog/post73.png' %}" alt="Post"></a>
                                        </div>
                                        <div class="content-holder">
                                            <div>
                                                <div class="entry-category style-2 color-dark-2">
                                                    <ul>
                                                        <li>
                                                            <a href="archive-layout1.html">DESIGN</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Reality Hosting, The Use Computer Modeling</a></h3>
                                                <p class="entry-description color-dark-1">Nam eget lorem mattis, consequat felis quis, luctus augue. Aenean ac iaculis enim.</p>
                                                <ul class="entry-meta color-dark-2">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            <img src="{% static  'news/assets/media/blog/profile3.webp' %}" alt="Author">
                                                            Kristin Watson
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>6 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="h-100 animated-border border-style-medium transition-default">
                                    <div class="animation-child post-box-layout9 box-border-dark-2 figure-scale-animation radius-default padding-20 bg-color-light-1 transition-default">
                                        <div class="figure-holder radius-default">
                                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="{% static  'news/assets/media/blog/post74.png' %}" alt="Post"></a>
                                        </div>
                                        <div class="content-holder">
                                            <div>
                                                <div class="entry-category style-2 color-dark-2">
                                                    <ul>
                                                        <li>
                                                            <a href="archive-layout1.html">HISTORY</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Smarter Food Choices 101 Tips For Busy Women</a></h3>
                                                <p class="entry-description color-dark-1">Nam eget lorem mattis, consequat felis quis, luctus augue. Aenean ac iaculis enim.</p>
                                                <ul class="entry-meta color-dark-2">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            <img src="{% static  'news/assets/media/blog/profile4.webp' %}" alt="Author">
                                                            Jenny Wilson
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>9 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="h-100 animated-border border-style-medium transition-default">
                                    <div class="animation-child post-box-layout9 box-border-dark-2 figure-scale-animation radius-default padding-20 bg-color-light-1 transition-default">
                                        <div class="figure-holder radius-default">
                                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="{% static  'news/assets/media/blog/post75.png' %}" alt="Post"></a>
                                        </div>
                                        <div class="content-holder">
                                            <div>
                                                <div class="entry-category style-2 color-dark-2">
                                                    <ul>
                                                        <li>
                                                            <a href="archive-layout1.html">TECH</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Air Pods Pro With Wireless Charging Case</a></h3>
                                                <p class="entry-description color-dark-1">Nam eget lorem mattis, consequat felis quis, luctus augue. Aenean ac iaculis enim.</p>
                                                <ul class="entry-meta color-dark-2">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            <img src="{% static  'news/assets/media/blog/profile5.webp' %}" alt="Author">
                                                            Esther Howard
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>7 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 sticky-coloum-item">
                        <div class="sidebar-global sidebar-layout3">
                            <div class="sidebar-widget">
                                <div class="widget-banner banner-layout3">
                                    <div class="light-dark-switcher radius-default box-border-dark-2 img-height-100">
                                        <div class="switcher-box light-mode">
                                            <div class="figure-holder radius-medium">
                                                <img width="700" height="294" src="{% static  'news/assets/media/banner/banner5.webp' %}" alt="Banner">
                                            </div>
                                        </div>
                                        <div class="switcher-box dark-mode">
                                            <div class="figure-holder radius-medium">
                                                <img width="700" height="294" src="{% static  'news/assets/media/banner/banner6.webp' %}" alt="Banner">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget">
                                <div class="section-heading heading-style-5">
                                    <h3 class="title">Explore Topics</h3>
                                </div>
                                <div class="widget-category category-layout2 radius-default box-border-dark-2">
                                    <ul class="category-list">
                                        <li>
                                            <a href="archive-layout1.html">Culture</a>(2)
                                        </li>
                                        <li>
                                            <a href="archive-layout1.html">Travel</a>(1)
                                        </li>
                                        <li>
                                            <a href="archive-layout1.html">Business</a>(5)
                                        </li>
                                        <li>
                                            <a href="archive-layout1.html">Trending</a>(4)
                                        </li>
                                    </ul>

                                </div>
                            </div>



                            <div class="sidebar-widget">
                                <div class="section-heading heading-style-5">
                                    <h3 class="title">Short Stories</h3>
                                </div>
                                <div class="widget-post post-layout2">
                                    <div class="animated-border border-style-medium transition-default">
                                        <div class="post-box box-border-dark-2 animation-child bg-color-light-1 transition-default">
                                            <div class="content-holder">
                                                <h3 class="entry-title color-dark-1 h3-small underline-animation"><a href="post-format-default.html" class="link-wrap">Air Pods Pro With Wireless Charging Case.</a></h3>
                                                <ul class="entry-meta color-dark-1">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            Alisa Michaels
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>9 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="animated-border border-style-medium transition-default">
                                        <div class="post-box box-border-dark-2 animation-child bg-color-light-1 transition-default">
                                            <div class="content-holder">
                                                <h3 class="entry-title color-dark-1 h3-small underline-animation"><a href="post-format-default.html" class="link-wrap">Virtual Reality (VR), The Use Computer Modeling</a></h3>
                                                <ul class="entry-meta color-dark-1">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            Ashley Graham
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>3 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="animated-border border-style-medium transition-default">
                                        <div class="post-box box-border-dark-2 animation-child bg-color-light-1 transition-default">
                                            <div class="content-holder">
                                                <h3 class="entry-title color-dark-1 h3-small underline-animation"><a href="post-format-default.html" class="link-wrap">Smarter Food 101 Tips For Health</a></h3>
                                                <ul class="entry-meta color-dark-1">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            Sergio Pliego
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>4 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <div class="widget-newsletter newsletter-layout2 box-border-dark-2">
                                    <h2 class="title">SUBSCRIBE FOR MORE NEWS FROM OROMIA OFFICE OF FINANCE !</h2>
                                    <div class="sub-title">Sign Up for free</div>
                                    <form action="#" class="newsletter-form">
                                        <input type="email" class="email-input" placeholder="Email Address">
                                        <button type="submit" class="axil-btn axil-btn-fill axil-btn-light-fixed w-100 axil-btn-bold">
                                            Subscribe<i class="solid-navigation"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>



                            <div class="sidebar-widget">
                                <div class="section-heading heading-style-6">
                                    <h3 class="title">Recommended topics</h3>
                                </div>
                                <div class="widget-tagcloud tagcloud-layout2">
                                    <div class="animated-border border-style-small transition-default">
                                        <a href="archive-layout1.html" class="animation-child tag-cloud-link">
                                            <span class="icon-holder">
                                                <i class="regular-medical-service"></i>
                                            </span>BUSSINESS
                                        </a>
                                    </div>
                                    <div class="animated-border border-style-small transition-default">
                                        <a href="archive-layout1.html" class="animation-child tag-cloud-link">
                                            <span class="icon-holder">
                                                <i class="regular-shopping-basket2"></i>
                                            </span>INTERNATIONAL
                                        </a>
                                    </div>
                                    <div class="animated-border border-style-small transition-default">
                                        <a href="archive-layout1.html" class="animation-child tag-cloud-link">
                                            <span class="icon-holder">
                                                <i class="solid-interactive"></i>
                                            </span>History
                                        </a>
                                    </div>
                                    <div class="animated-border border-style-small transition-default">
                                        <a href="archive-layout1.html" class="animation-child tag-cloud-link">
                                            <span class="icon-holder">
                                                <i class="regular-graduation-cap1"></i>
                                            </span>Education
                                        </a>
                                    </div>
                                    <div class="animated-border border-style-small transition-default">
                                        <a href="archive-layout1.html" class="animation-child tag-cloud-link">
                                            <span class="icon-holder">
                                                <i class="regular-globe-stand"></i>
                                            </span>World
                                        </a>
                                    </div>
                                    <div class="animated-border border-style-small transition-default">
                                        <a href="archive-layout1.html" class="animation-child tag-cloud-link">
                                            <span class="icon-holder">
                                                <i class="solid-interactive"></i>
                                            </span>History
                                        </a>
                                    </div>
                                    <div class="animated-border border-style-small transition-default">
                                        <a href="archive-layout1.html" class="animation-child tag-cloud-link">
                                            <span class="icon-holder">
                                                <i class="regular-graduation-cap1"></i>
                                            </span>Education
                                        </a>
                                    </div>
                                    <div class="animated-border border-style-small transition-default">
                                        <a href="archive-layout1.html" class="animation-child tag-cloud-link">
                                            <span class="icon-holder">
                                                <i class="solid-interactive"></i>
                                            </span>History
                                        </a>
                                    </div>
                                    <div class="animated-border border-style-small transition-default">
                                        <a href="archive-layout1.html" class="animation-child tag-cloud-link">
                                            <span class="icon-holder">
                                                <i class="regular-shopping-basket2"></i>
                                            </span>POLITICS
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<section class="newsletter-wrap-layout2 space-top-60 bg-color-light-1 transition-default">
            <div class="container">
                <div class="newsletter-box-layout1 box-border-dark-2 radius-default bg-color-light-3">
                    <h2 class="entry-title h2-medium f-w-700 color-dark-1">SUBSCRIBE TO OUR NEWSLETTER</h2>
                    <p class="entry-description color-dark-1">Kurihara Harumi, born March 5, 1947, Shimoda, Shizuoka prefecture, Japan</p>
                    <form action="#" class="newsletter-form box-border-dark-2 box-shadow-large shadow-style-2 shadow-fixed transition-default radius-default">
                        <input type="email" class="email-input" placeholder="Email Address">
                        <button type="submit" class="axil-btn btn-border2">
                            Subscribe<i class="solid-navigation"></i>
                        </button>
                    </form>
                    <ul class="elements-wrap img-height-100">
                        <li>
                            <div class="light-dark-switcher">
                                <div class="switcher-box light-mode">
                                    <img width="57" height="53" src="{% static  'news/assets/media/elements/element1.webp' %}" alt="Element">
                                </div>
                                <div class="switcher-box dark-mode">
                                    <img width="57" height="53" src="{% static  'news/assets/media/elements/element9.webp' %}" alt="Element">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="light-dark-switcher">
                                <div class="switcher-box light-mode">
                                    <img width="120" height="186" src="{% static  'news/assets/media/elements/element8.webp' %}" alt="Element">
                                </div>
                                <div class="switcher-box dark-mode">
                                    <img width="120" height="186" src="{% static  'news/assets/media/elements/element10.webp' %}" alt="Element">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
{% endblock %}
